In [258]:
import pandas as pd
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 200)
pd.set_option('display.max_colwidth', -1)  # or 199
import datetime as dt
#pd.options.mode.chained_assignment = None 
#import copy
#import numpy as np

<ipython-input-258-269628ef0bd1>:4: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('display.max_colwidth', -1)  # or 199

In [472]:
class Final:
    
    def __init__(self, excel_file = None):
        self.excel_file = excel_file
        
    def read_excel(self):
        purchase_exit_survey_data_df = pd.read_excel(self.excel_file, sheet_name = 'Purchase Exit Survey Data', header=[0,1,2,3,4], index_col=[0,1])
        airings_df = pd.read_excel(self.excel_file, sheet_name = 'Airings')
        lookup_df = pd.read_excel(self.excel_file, sheet_name = 'Lookup',header=1)
        return purchase_exit_survey_data_df, airings_df, lookup_df
    
    def prepare_data(self):
        df1, df2, df3 = self.read_excel()
        
        # Preare df1/purchase_exit_survey_data_df for use
        
        # Reformat purchase_exit_survey_data_df
        df1 = df1.stack().stack().stack().stack()
        # Set Up Names inpurchase_exit_survey_data_df
        df1.index.set_names(['Campaign_Type','TV_Network','Submitted_Application_Num','Month', 'Quarter','Year'],level=[0,1,2,3,4,5], inplace=True)
        # Reset index in purchase_exit_survey_data_df
        #return df1.reset_index()
        df1 = df1.reset_index()
        # Change last column name to Value in purchase_exit_survey_data_df
        df1 = df1.rename(columns={'Submitted Application Timestamp':'Value'})
        # Change Year to Int
        df1['Year'] = pd.to_datetime(df1.Year, format='%Y').dt.year
        # Change Month Column to Ints
        df1['Month'] = pd.to_datetime(df1.Month, format='%B').dt.month
        # Finalize purchase_exit_survey_data_df columns
        df1 = df1[['TV_Network','Year','Quarter','Month','Submitted_Application_Num','Value']]
        
        # Prepare df2/airings_df for use
        
        # Change Date/Time ET Column Name to Datetime
        df2 = df2.rename(columns={'Date/Time ET': 'Datetime'})
        df2['Year'] = pd.DatetimeIndex(df2['Datetime']).year
        df2['Month'] = pd.DatetimeIndex(df2['Datetime']).month
        
        # Prepare df3/lookup for use
        
        # Make firt column lowercase
        df3['Exit Survey'] = df3['Exit Survey'].str.lower()
        
        return df1, df2, df3
    
    def get_monthly_stats(self):
        df1, df2, df3 = self.prepare_data()
        
        # Compute Visits Per Month
        visits_per_month = df1.groupby(['Year','Quarter','Month','TV_Network'])['Value'].sum()
        visits_per_month = visits_per_month.to_frame()
        visits_per_month = visits_per_month.reset_index()
        visits_per_month = visits_per_month.rename(columns = {'Value':'Purchases'})
        
        # Merge visits_per_month to Lookup Table
        visits_per_month = pd.merge(visits_per_month, df3[['Exit Survey','Airings']],left_on= ['TV_Network'], right_on = ['Exit Survey'], how='outer')
        
        # Compute Spend and Lift Per Month
        lift_spend_df = df2.groupby(['Year','Month','Network'])['Spend','Lift'].sum()
        lift_spend_df = lift_spend_df.reset_index()
        
        # Merge visit data and lift/spend data
        monthly_stats = pd.merge(visits_per_month, lift_spend_df, left_on=['Year','Month','Airings'], right_on=['Year','Month','Network'], how='outer')
        monthly_stats = monthly_stats[['Year','Quarter','Month','TV_Network','Network','Purchases','Spend','Lift']]
        monthly_stats = monthly_stats[monthly_stats.Year.notna()]
        
        return monthly_stats
    
    def get_metrics(self):
        # Get Monthly Stats Df
        monthly_stats = self.get_monthly_stats()
        
        # Compute Cost Per Visitor
        monthly_stats['cpv'] = monthly_stats['Spend']/monthly_stats['Purchases']
        
        # Compute Conversion Rate 
        monthly_stats['conversion_rate'] = monthly_stats['Purchases']/monthly_stats['Lift']
        
        # Compute Cost Per Acquisition
        monthly_stats['cpa'] = monthly_stats['Spend']/monthly_stats['Purchases']
        
        return monthly_stats

In [473]:
test = Final('Analyst_Dataset.xlsx')

In [478]:
df1, df2, df3 = test.prepare_data()

In [479]:
df1.head()

     TV_Network  Year Quarter  Month Submitted_Application_Num  Value
0  (blank)       2017  Q4      10     14                        1.0
1  (blank)       2017  Q4      10     29                        1.0
2  (blank)       2017  Q4      10     8                         1.0
3  aapka_colors  2017  Q4      10     1                         1.0
4  aapka_colors  2017  Q3      9      11                        1.0

In [480]:
# Compute Visits Per Month
df1 = df1.groupby(['Year','Quarter','Month','TV_Network'])['Value'].sum()
df1 = df1.to_frame()
df1 = df1.reset_index()
df1 = df1.rename(columns = {'Value':'Purchases'})
df1.head()

   Year Quarter  Month    TV_Network  Purchases
0  2017  Q3      9      aapka_colors  1.0
1  2017  Q3      9      baby_first    1.0
2  2017  Q3      9      bloomberg     1.0
3  2017  Q3      9      cbs_sports    1.0
4  2017  Q3      9      cnbc          5.0

In [485]:
df3

                 Exit Survey    Airings             Exit Survey.1
0   (blank)                   NaN        (blank)
1   aapka_colors              NaN        aapka_colors
2   baby_first                BABY       baby_first
3   bloomberg                 BLOM       bloomberg
4   cbs_sports                CBSS       cbs_sports
5   cnbc                      CNBC       cnbc
6   cnn                       CNN        cnn
7   comedy_central            COM        comedy_central
8   cozi                      COZI       cozi
9   dateline                  DATELINE   Dateline
10  dish_network              DISH       dish_network
11  diy                       NaN        diy
12  espn                      ENN        espn
13  fox_news                  FNEW       fox_news
14  fox_sports                FS1        fox_sports
15  fyi                       FYI        fyi
16  hgtv                      HGTV       hgtv
17  lifetime_movie_network    LMN        lifetime_movie_network
18  msnbc                     MSNB       msnbc
19  nfl_network               NFLN       nfl_network
20  NaN                       NaN        NaN
21  one_america_news_network  OANN       one_america_news_network
22  oprah_winfrey_network     OWN        oprah_winfrey_network
23  other                     NaN        other
24  science                   SCI        science
25  sony_entertainment_tv     NaN        sony_entertainment_tv
26  spectrum_sports           SPECSPTS   spectrum_sports
27  spike                     SPK        spike
28  star_plus                 STARPLUS   star_plus
29  sundance_channel          SUND       sundance_channel
30  television_food_network   FOOD       television_food_network
31  the_cooking_channel       COOK       the_cooking_channel
32  the_history_channel       HIST       the_history_channel
33  the_weather_channel       TWC        the_weather_channel
34  turner_network_tv         TNT        turner_network_tv
35  willow_tv                 WILO       willow_tv
36  zeetv                     ZEETV      zeetv
37  velocity                  VEL        Velocity
38  investigation discovery   ID         Investigation Discovery
39  viceland                  VICE       Viceland
40  destination america       DEST       Destination America
41  golf                      GOLF       Golf
42  tennis                    TENN       Tennis
43  cnbc world                CNBCWORLD  CNBC World

In [488]:
newdf = pd.merge(df1, df3[['Exit Survey','Airings']],left_on= ['TV_Network'], right_on = ['Exit Survey'], how='left')
newdf

,Year,Quarter,Month,TV_Network,Purchases,Exit Survey,Airings
0,2017,Q3,9,aapka_colors,1.0,aapka_colors,NaN
1,2017,Q3,9,baby_first,1.0,baby_first,BABY
2,2017,Q3,9,bloomberg,1.0,bloomberg,BLOM
3,2017,Q3,9,cbs_sports,1.0,cbs_sports,CBSS
4,2017,Q3,9,cnbc,5.0,cnbc,CNBC
5,2017,Q3,9,cnn,13.0,cnn,CNN
6,2017,Q3,9,dish_network,4.0,dish_network,DISH
7,2017,Q3,9,diy,2.0,diy,NaN
8,2017,Q3,9,fox_news,5.0,fox_news,FNEW
9,2017,Q3,9,fox_sports,1.0,fox_sports,FS1
10,2017,Q3,9,hgtv,6.0,hgtv,HGTV
11,2017,Q3,9,msnbc,10.0,msnbc,MSNB
12,2017,Q3,9,nfl_network,2.0,nfl_network,NFLN
13,2017,Q3,9,one_america_news_network,2.0,one_america_news_network,OANN
14,2017,Q3,9,other,5.0,other,NaN
15,2017,Q3,9,science,1.0,science,SCI
16,2017,Q3,9,sony_entertainment_tv,2.0,sony_entertainment_tv,NaN
17,2017,Q3,9,spectrum_sports,2.0,spectrum_sports,SPECSPTS
18,2017,Q3,9,star_plus,2.0,star_plus,STARPLUS
19,2017,Q3,9,television_food_network,4.0,television_food_network,FOOD
20,2017,Q3,9,the_history_channel,4.0,the_history_channel,HIST
21,2017,Q3,9,turner_network_tv,2.0,turner_network_tv,TNT
22,2017,Q3,9,willow_tv,27.0,willow_tv,WILO
23,2017,Q3,9,zeetv,2.0,zeetv,ZEETV
24,2017,Q4,10,(blank),3.0,(blank),NaN
25,2017,Q4,10,aapka_colors,5.0,aapka_colors,NaN
26,2017,Q4,10,bloomberg,1.0,bloomberg,BLOM
27,2017,Q4,10,cnbc,10.0,cnbc,CNBC
28,2017,Q4,10,cnn,10.0,cnn,CNN
29,2017,Q4,10,comedy_central,2.0,comedy_central,COM
30,2017,Q4,10,dateline,10.0,dateline,DATELINE
31,2017,Q4,10,dish_network,1.0,dish_network,DISH
32,2017,Q4,10,espn,4.0,espn,ENN
33,2017,Q4,10,fox_news,9.0,fox_news,FNEW
34,2017,Q4,10,fox_sports,1.0,fox_sports,FS1
35,2017,Q4,10,fyi,2.0,fyi,FYI
36,2017,Q4,10,msnbc,6.0,msnbc,MSNB
37,2017,Q4,10,nfl_network,1.0,nfl_network,NFLN
38,2017,Q4,10,one_america_news_network,14.0,one_america_news_network,OANN
39,2017,Q4,10,oprah_winfrey_network,1.0,oprah_winfrey_network,OWN
40,2017,Q4,10,other,8.0,other,NaN
41,2017,Q4,10,science,3.0,science,SCI
42,2017,Q4,10,sony_entertainment_tv,2.0,sony_entertainment_tv,NaN
43,2017,Q4,10,spectrum_sports,1.0,spectrum_sports,SPECSPTS
44,2017,Q4,10,star_plus,2.0,star_plus,STARPLUS
45,2017,Q4,10,the_history_channel,1.0,the_history_channel,HIST
46,2017,Q4,10,turner_network_tv,2.0,turner_network_tv,TNT
47,2017,Q4,10,willow_tv,29.0,willow_tv,WILO
48,2017,Q4,10,zeetv,3.0,zeetv,ZEETV

In [489]:
df2.head()

,Company,Datetime,Rotation,Creative,Network,Spend,Lift,Program,Year,Month
0,Company XYZ,2017-10-30 22:50:00,MSNB Weekday Prime,ISCICODE0015H,MSNB,980.0,152,THE LAST WORD WITH LAWRENCE O'DONNEL,2017,10
1,Company XYZ,2017-10-30 22:27:50,HIST Everyday Prime (mirrored),ISCICODE0015H,HIST,1500.0,77,PAWN STARS,2017,10
2,Company XYZ,2017-10-30 21:42:20,TWC Everyday Prime,ISCICODE0015H,TWC,300.0,15,WEATHER HACKS,2017,10
3,Company XYZ,2017-10-30 21:17:22,MSNB Weekday Prime,ISCICODE0015H,MSNB,1020.0,123,THE RACHEL MADDOW SHOW,2017,10
4,Company XYZ,2017-10-30 20:28:46,MSNB Weekday Prime,ISCICODE0015H,MSNB,1020.0,121,ALL IN WITH CHRIS HAYES,2017,10

In [490]:
# Compute Spend and Lift Per Month
df2 = df2.groupby(['Year','Month','Network'])['Spend','Lift'].sum()
df2 = df2.reset_index()
df2

<ipython-input-490-0d24ce739400>:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df2 = df2.groupby(['Year','Month','Network'])['Spend','Lift'].sum()

    Year  Month    Network     Spend  Lift
0   2017  9      BLOM       4966.72   199
1   2017  9      CNBC       6481.42   406
2   2017  9      CNN        9159.60   507
3   2017  9      DATELINE   4211.62   252
4   2017  9      DISH       2513.09   976
5   2017  9      FS1        4258.50   183
6   2017  9      HIST       5778.30   253
7   2017  9      MSNB       8091.15   701
8   2017  9      NFLN       5412.80   200
9   2017  9      OANN       4966.80   648
10  2017  9      SCI        7993.18   132
11  2017  9      SPECSPTS   5580.26   220
12  2017  9      STARPLUS   3441.58   562
13  2017  9      TNT        5125.50   179
14  2017  9      WILO       19773.49  3138
15  2017  9      ZEETV      10175.13  922
16  2017  10     CNBCWORLD  1299.99   51
17  2017  10     CNN        8954.75   574
18  2017  10     COM        7501.25   108
19  2017  10     DATELINE   11076.49  610
20  2017  10     DISH       520.24    116
21  2017  10     HIST       1500.00   77
22  2017  10     MSNB       3238.89   422
23  2017  10     OANN       19968.20  1724
24  2017  10     STARPLUS   8338.98   1221
25  2017  10     TWC        7718.71   211
26  2017  10     WILO       27961.08  5076
27  2017  10     ZEETV      15429.12  819

In [492]:
newdf2 = pd.merge(df2, df3[['Exit Survey','Airings']],left_on= ['Network'], right_on = ['Airings'], how='left')
newdf2

,Year,Month,Network,Spend,Lift,Exit Survey,Airings
0,2017,9,BLOM,4966.72,199,bloomberg,BLOM
1,2017,9,CNBC,6481.42,406,cnbc,CNBC
2,2017,9,CNN,9159.60,507,cnn,CNN
3,2017,9,DATELINE,4211.62,252,dateline,DATELINE
4,2017,9,DISH,2513.09,976,dish_network,DISH
5,2017,9,FS1,4258.50,183,fox_sports,FS1
6,2017,9,HIST,5778.30,253,the_history_channel,HIST
7,2017,9,MSNB,8091.15,701,msnbc,MSNB
8,2017,9,NFLN,5412.80,200,nfl_network,NFLN
9,2017,9,OANN,4966.80,648,one_america_news_network,OANN
10,2017,9,SCI,7993.18,132,science,SCI
11,2017,9,SPECSPTS,5580.26,220,spectrum_sports,SPECSPTS
12,2017,9,STARPLUS,3441.58,562,star_plus,STARPLUS
13,2017,9,TNT,5125.50,179,turner_network_tv,TNT
14,2017,9,WILO,19773.49,3138,willow_tv,WILO
15,2017,9,ZEETV,10175.13,922,zeetv,ZEETV
16,2017,10,CNBCWORLD,1299.99,51,cnbc world,CNBCWORLD
17,2017,10,CNN,8954.75,574,cnn,CNN
18,2017,10,COM,7501.25,108,comedy_central,COM
19,2017,10,DATELINE,11076.49,610,dateline,DATELINE
20,2017,10,DISH,520.24,116,dish_network,DISH
21,2017,10,HIST,1500.00,77,the_history_channel,HIST
22,2017,10,MSNB,3238.89,422,msnbc,MSNB
23,2017,10,OANN,19968.20,1724,one_america_news_network,OANN
24,2017,10,STARPLUS,8338.98,1221,star_plus,STARPLUS
25,2017,10,TWC,7718.71,211,the_weather_channel,TWC
26,2017,10,WILO,27961.08,5076,willow_tv,WILO
27,2017,10,ZEETV,15429.12,819,zeetv,ZEETV

In [494]:
newdf.head()

   Year Quarter  Month    TV_Network  Purchases   Exit Survey Airings
0  2017  Q3      9      aapka_colors  1.0        aapka_colors  NaN
1  2017  Q3      9      baby_first    1.0        baby_first    BABY
2  2017  Q3      9      bloomberg     1.0        bloomberg     BLOM
3  2017  Q3      9      cbs_sports    1.0        cbs_sports    CBSS
4  2017  Q3      9      cnbc          5.0        cnbc          CNBC

In [495]:
newdf2.head(2)

   Year  Month Network    Spend  Lift Exit Survey Airings
0  2017  9      BLOM    4966.72  199   bloomberg   BLOM
1  2017  9      CNBC    6481.42  406   cnbc        CNBC

In [496]:
pd.merge(newdf,newdf2,on=['Year','Month','Exit Survey'], how='outer')

,Year,Quarter,Month,TV_Network,Purchases,Exit Survey,Airings_x,Network,Spend,Lift,Airings_y
0,2017,Q3,9,aapka_colors,1.0,aapka_colors,NaN,NaN,NaN,NaN,NaN
1,2017,Q3,9,baby_first,1.0,baby_first,BABY,NaN,NaN,NaN,NaN
2,2017,Q3,9,bloomberg,1.0,bloomberg,BLOM,BLOM,4966.72,199.0,BLOM
3,2017,Q3,9,cbs_sports,1.0,cbs_sports,CBSS,NaN,NaN,NaN,NaN
4,2017,Q3,9,cnbc,5.0,cnbc,CNBC,CNBC,6481.42,406.0,CNBC
5,2017,Q3,9,cnn,13.0,cnn,CNN,CNN,9159.60,507.0,CNN
6,2017,Q3,9,dish_network,4.0,dish_network,DISH,DISH,2513.09,976.0,DISH
7,2017,Q3,9,diy,2.0,diy,NaN,NaN,NaN,NaN,NaN
8,2017,Q3,9,fox_news,5.0,fox_news,FNEW,NaN,NaN,NaN,NaN
9,2017,Q3,9,fox_sports,1.0,fox_sports,FS1,FS1,4258.50,183.0,FS1
10,2017,Q3,9,hgtv,6.0,hgtv,HGTV,NaN,NaN,NaN,NaN
11,2017,Q3,9,msnbc,10.0,msnbc,MSNB,MSNB,8091.15,701.0,MSNB
12,2017,Q3,9,nfl_network,2.0,nfl_network,NFLN,NFLN,5412.80,200.0,NFLN
13,2017,Q3,9,one_america_news_network,2.0,one_america_news_network,OANN,OANN,4966.80,648.0,OANN
14,2017,Q3,9,other,5.0,other,NaN,NaN,NaN,NaN,NaN
15,2017,Q3,9,science,1.0,science,SCI,SCI,7993.18,132.0,SCI
16,2017,Q3,9,sony_entertainment_tv,2.0,sony_entertainment_tv,NaN,NaN,NaN,NaN,NaN
17,2017,Q3,9,spectrum_sports,2.0,spectrum_sports,SPECSPTS,SPECSPTS,5580.26,220.0,SPECSPTS
18,2017,Q3,9,star_plus,2.0,star_plus,STARPLUS,STARPLUS,3441.58,562.0,STARPLUS
19,2017,Q3,9,television_food_network,4.0,television_food_network,FOOD,NaN,NaN,NaN,NaN
20,2017,Q3,9,the_history_channel,4.0,the_history_channel,HIST,HIST,5778.30,253.0,HIST
21,2017,Q3,9,turner_network_tv,2.0,turner_network_tv,TNT,TNT,5125.50,179.0,TNT
22,2017,Q3,9,willow_tv,27.0,willow_tv,WILO,WILO,19773.49,3138.0,WILO
23,2017,Q3,9,zeetv,2.0,zeetv,ZEETV,ZEETV,10175.13,922.0,ZEETV
24,2017,Q4,10,(blank),3.0,(blank),NaN,NaN,NaN,NaN,NaN
25,2017,Q4,10,aapka_colors,5.0,aapka_colors,NaN,NaN,NaN,NaN,NaN
26,2017,Q4,10,bloomberg,1.0,bloomberg,BLOM,NaN,NaN,NaN,NaN
27,2017,Q4,10,cnbc,10.0,cnbc,CNBC,NaN,NaN,NaN,NaN
28,2017,Q4,10,cnn,10.0,cnn,CNN,CNN,8954.75,574.0,CNN
29,2017,Q4,10,comedy_central,2.0,comedy_central,COM,COM,7501.25,108.0,COM
30,2017,Q4,10,dateline,10.0,dateline,DATELINE,DATELINE,11076.49,610.0,DATELINE
31,2017,Q4,10,dish_network,1.0,dish_network,DISH,DISH,520.24,116.0,DISH
32,2017,Q4,10,espn,4.0,espn,ENN,NaN,NaN,NaN,NaN
33,2017,Q4,10,fox_news,9.0,fox_news,FNEW,NaN,NaN,NaN,NaN
34,2017,Q4,10,fox_sports,1.0,fox_sports,FS1,NaN,NaN,NaN,NaN
35,2017,Q4,10,fyi,2.0,fyi,FYI,NaN,NaN,NaN,NaN
36,2017,Q4,10,msnbc,6.0,msnbc,MSNB,MSNB,3238.89,422.0,MSNB
37,2017,Q4,10,nfl_network,1.0,nfl_network,NFLN,NaN,NaN,NaN,NaN
38,2017,Q4,10,one_america_news_network,14.0,one_america_news_network,OANN,OANN,19968.20,1724.0,OANN
39,2017,Q4,10,oprah_winfrey_network,1.0,oprah_winfrey_network,OWN,NaN,NaN,NaN,NaN
40,2017,Q4,10,other,8.0,other,NaN,NaN,NaN,NaN,NaN
41,2017,Q4,10,science,3.0,science,SCI,NaN,NaN,NaN,NaN
42,2017,Q4,10,sony_entertainment_tv,2.0,sony_entertainment_tv,NaN,NaN,NaN,NaN,NaN
43,2017,Q4,10,spectrum_sports,1.0,spectrum_sports,SPECSPTS,NaN,NaN,NaN,NaN
44,2017,Q4,10,star_plus,2.0,star_plus,STARPLUS,STARPLUS,8338.98,1221.0,STARPLUS
45,2017,Q4,10,the_history_channel,1.0,the_history_channel,HIST,HIST,1500.00,77.0,HIST
46,2017,Q4,10,turner_network_tv,2.0,turner_network_tv,TNT,NaN,NaN,NaN,NaN
47,2017,Q4,10,willow_tv,29.0,willow_tv,WILO,WILO,27961.08,5076.0,WILO
48,2017,Q4,10,zeetv,3.0,zeetv,ZEETV,ZEETV,15429.12,819.0,ZEETV
49,2017,NaN,9,NaN,NaN,dateline,NaN,DATELINE,4211.62,252.0,DATELINE
50,2017,NaN,10,NaN,NaN,cnbc world,NaN,CNBCWORLD,1299.99,51.0,CNBCWORLD
51,2017,NaN,10,NaN,NaN,the_weather_channel,NaN,TWC,7718.71,211.0,TWC

In [455]:
class Final:
    
    def __init__(self, excel_file = None):
        self.excel_file = excel_file
        
    def read_excel(self):
        purchase_exit_survey_data_df = pd.read_excel(self.excel_file, sheet_name = 'Purchase Exit Survey Data', header=[0,1,2,3,4], index_col=[0,1])
        airings_df = pd.read_excel(self.excel_file, sheet_name = 'Airings')
        lookup_df = pd.read_excel(self.excel_file, sheet_name = 'Lookup',header=1)
        return purchase_exit_survey_data_df, airings_df, lookup_df
    
    def prepare_data(self):
        df1, df2, df3 = self.read_excel()
        
        # Preare df1/purchase_exit_survey_data_df for use
        
        # Reformat purchase_exit_survey_data_df
        df1 = df1.stack().stack().stack().stack()
        # Set Up Names inpurchase_exit_survey_data_df
        df1.index.set_names(['Campaign_Type','TV_Network','Submitted_Application_Num','Month', 'Quarter','Year'],level=[0,1,2,3,4,5], inplace=True)
        # Reset index in purchase_exit_survey_data_df
        #return df1.reset_index()
        df1 = df1.reset_index()
        # Change last column name to Value in purchase_exit_survey_data_df
        df1 = df1.rename(columns={'Submitted Application Timestamp':'Value'})
        # Change Year to Int
        #df1['Year'] = df['Year'].astype(int)
        df1['Year'] = pd.to_datetime(df1.Year, format='%Y').dt.year
        # Change Month Column to Ints
        df1['Month'] = pd.to_datetime(df1.Month, format='%B').dt.month
        # Finalize purchase_exit_survey_data_df columns
        df1 = df1[['TV_Network','Year','Quarter','Month','Submitted_Application_Num','Value']]
        
        # Prepare df2/airings_df for use
        
        # Change Date/Time ET Column Name to Datetime
        df2 = df2.rename(columns={'Date/Time ET': 'Datetime'})
        df2['Year'] = pd.DatetimeIndex(df2['Datetime']).year
        df2['Month'] = pd.DatetimeIndex(df2['Datetime']).month
        
        # Prepare df3/lookup for use
        df3['Exit Survey'] = df3['Exit Survey'].str.lower()
        
        return df1, df2, df3
    
    def get_monthly_stats(self):
        df1, df2, df3 = self.prepare_data()
        
        # Compute Visits Per Month
        visits_per_month = df1.groupby(['Year','Quarter','Month','TV_Network'])['Value'].sum()
        visits_per_month = visits_per_month.to_frame()
        visits_per_month = visits_per_month.reset_index()
        visits_per_month = visits_per_month.rename(columns = {'Value':'Visits'})
        
        # Merge visits_per_month to Lookup Table
        visits_per_month = pd.merge(visits_per_month, df3[['Exit Survey','Airings']],left_on= ['TV_Network'], right_on = ['Exit Survey'], how='outer')
        
        # Compute Spend and Lift Per Month
        lift_spend_df = df2.groupby(['Year','Month','Network'])['Spend','Lift'].sum()
        lift_spend_df = lift_spend_df.reset_index()
        
        # Merge visit data and lift/spend data
        monthly_stats = pd.merge(visits_per_month, lift_spend_df, left_on=['Year','Month','Airings'], right_on=['Year','Month','Network'], how='left')
        monthly_stats = monthly_stats[['Year','Quarter','Month','TV_Network','Visits','Spend','Lift']]
        
        return monthly_stats
    
    def get_metrics(self):
        # Get Monthly Stats Df
        monthly_stats = self.get_monthly_stats()
        
        # Compute Cost Per Visitor
        monthly_stats['cpv'] = monthly_stats['Spend']/monthly_stats['Visits']
        
        # Compute Conversion Rate 
        monthly_stats['conversion_rate'] = monthly_stats['Visits']/monthly_stats['Lift']
        
        # Compute Cost Per Acquisition
        monthly_stats['cpa'] = monthly_stats['Spend']/monthly_stats['Visits']
        
        return monthly_stats

In [456]:
test = Final('Analyst_Dataset.xlsx')

In [457]:
df1, df2, df3 = test.prepare_data()
df1.head()

     TV_Network  Year Quarter  Month Submitted_Application_Num  Value
0  (blank)       2017  Q4      10     14                        1.0
1  (blank)       2017  Q4      10     29                        1.0
2  (blank)       2017  Q4      10     8                         1.0
3  aapka_colors  2017  Q4      10     1                         1.0
4  aapka_colors  2017  Q3      9      11                        1.0

In [459]:
        visits_per_month = df1.groupby(['Year','Quarter','Month','TV_Network'])['Value'].sum()
        visits_per_month = visits_per_month.to_frame()
        visits_per_month = visits_per_month.reset_index()
        visits_per_month = visits_per_month.rename(columns = {'Value':'Purchases'})

In [460]:
visits_per_month.head()

   Year Quarter  Month    TV_Network  Purchases
0  2017  Q3      9      aapka_colors  1.0
1  2017  Q3      9      baby_first    1.0
2  2017  Q3      9      bloomberg     1.0
3  2017  Q3      9      cbs_sports    1.0
4  2017  Q3      9      cnbc          5.0

In [461]:
visits_per_month.TV_Network.nunique()

30

In [462]:
# Merge visits_per_month to Lookup Table
visits_per_month = pd.merge(visits_per_month, df3[['Exit Survey','Airings']],left_on= ['TV_Network'], right_on = ['Exit Survey'], how='outer')

In [463]:
visits_per_month

,Year,Quarter,Month,TV_Network,Purchases,Exit Survey,Airings
0,2017.0,Q3,9.0,aapka_colors,1.0,aapka_colors,NaN
1,2017.0,Q4,10.0,aapka_colors,5.0,aapka_colors,NaN
2,2017.0,Q3,9.0,baby_first,1.0,baby_first,BABY
3,2017.0,Q3,9.0,bloomberg,1.0,bloomberg,BLOM
4,2017.0,Q4,10.0,bloomberg,1.0,bloomberg,BLOM
5,2017.0,Q3,9.0,cbs_sports,1.0,cbs_sports,CBSS
6,2017.0,Q3,9.0,cnbc,5.0,cnbc,CNBC
7,2017.0,Q4,10.0,cnbc,10.0,cnbc,CNBC
8,2017.0,Q3,9.0,cnn,13.0,cnn,CNN
9,2017.0,Q4,10.0,cnn,10.0,cnn,CNN
10,2017.0,Q3,9.0,dish_network,4.0,dish_network,DISH
11,2017.0,Q4,10.0,dish_network,1.0,dish_network,DISH
12,2017.0,Q3,9.0,diy,2.0,diy,NaN
13,2017.0,Q3,9.0,fox_news,5.0,fox_news,FNEW
14,2017.0,Q4,10.0,fox_news,9.0,fox_news,FNEW
15,2017.0,Q3,9.0,fox_sports,1.0,fox_sports,FS1
16,2017.0,Q4,10.0,fox_sports,1.0,fox_sports,FS1
17,2017.0,Q3,9.0,hgtv,6.0,hgtv,HGTV
18,2017.0,Q3,9.0,msnbc,10.0,msnbc,MSNB
19,2017.0,Q4,10.0,msnbc,6.0,msnbc,MSNB
20,2017.0,Q3,9.0,nfl_network,2.0,nfl_network,NFLN
21,2017.0,Q4,10.0,nfl_network,1.0,nfl_network,NFLN
22,2017.0,Q3,9.0,one_america_news_network,2.0,one_america_news_network,OANN
23,2017.0,Q4,10.0,one_america_news_network,14.0,one_america_news_network,OANN
24,2017.0,Q3,9.0,other,5.0,other,NaN
25,2017.0,Q4,10.0,other,8.0,other,NaN
26,2017.0,Q3,9.0,science,1.0,science,SCI
27,2017.0,Q4,10.0,science,3.0,science,SCI
28,2017.0,Q3,9.0,sony_entertainment_tv,2.0,sony_entertainment_tv,NaN
29,2017.0,Q4,10.0,sony_entertainment_tv,2.0,sony_entertainment_tv,NaN
30,2017.0,Q3,9.0,spectrum_sports,2.0,spectrum_sports,SPECSPTS
31,2017.0,Q4,10.0,spectrum_sports,1.0,spectrum_sports,SPECSPTS
32,2017.0,Q3,9.0,star_plus,2.0,star_plus,STARPLUS
33,2017.0,Q4,10.0,star_plus,2.0,star_plus,STARPLUS
34,2017.0,Q3,9.0,television_food_network,4.0,television_food_network,FOOD
35,2017.0,Q3,9.0,the_history_channel,4.0,the_history_channel,HIST
36,2017.0,Q4,10.0,the_history_channel,1.0,the_history_channel,HIST
37,2017.0,Q3,9.0,turner_network_tv,2.0,turner_network_tv,TNT
38,2017.0,Q4,10.0,turner_network_tv,2.0,turner_network_tv,TNT
39,2017.0,Q3,9.0,willow_tv,27.0,willow_tv,WILO
40,2017.0,Q4,10.0,willow_tv,29.0,willow_tv,WILO
41,2017.0,Q3,9.0,zeetv,2.0,zeetv,ZEETV
42,2017.0,Q4,10.0,zeetv,3.0,zeetv,ZEETV
43,2017.0,Q4,10.0,(blank),3.0,(blank),NaN
44,2017.0,Q4,10.0,comedy_central,2.0,comedy_central,COM
45,2017.0,Q4,10.0,dateline,10.0,dateline,DATELINE
46,2017.0,Q4,10.0,espn,4.0,espn,ENN
47,2017.0,Q4,10.0,fyi,2.0,fyi,FYI
48,2017.0,Q4,10.0,oprah_winfrey_network,1.0,oprah_winfrey_network,OWN
49,NaN,NaN,NaN,NaN,NaN,cozi,COZI
50,NaN,NaN,NaN,NaN,NaN,lifetime_movie_network,LMN
51,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,NaN,NaN,NaN,NaN,NaN,spike,SPK
53,NaN,NaN,NaN,NaN,NaN,sundance_channel,SUND
54,NaN,NaN,NaN,NaN,NaN,the_cooking_channel,COOK
55,NaN,NaN,NaN,NaN,NaN,the_weather_channel,TWC
56,NaN,NaN,NaN,NaN,NaN,velocity,VEL
57,NaN,NaN,NaN,NaN,NaN,investigation discovery,ID
58,NaN,NaN,NaN,NaN,NaN,viceland,VICE
59,NaN,NaN,NaN,NaN,NaN,destination america,DEST
60,NaN,NaN,NaN,NaN,NaN,golf,GOLF
61,NaN,NaN,NaN,NaN,NaN,tennis,TENN
62,NaN,NaN,NaN,NaN,NaN,cnbc world,CNBCWORLD

In [466]:
# Compute Spend and Lift Per Month
lift_spend_df = df2.groupby(['Year','Month','Network'])['Spend','Lift'].sum()
lift_spend_df = lift_spend_df.reset_index()
lift_spend_df

<ipython-input-466-cddbd7026655>:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  lift_spend_df = df2.groupby(['Year','Month','Network'])['Spend','Lift'].sum()

    Year  Month    Network     Spend  Lift
0   2017  9      BLOM       4966.72   199
1   2017  9      CNBC       6481.42   406
2   2017  9      CNN        9159.60   507
3   2017  9      DATELINE   4211.62   252
4   2017  9      DISH       2513.09   976
5   2017  9      FS1        4258.50   183
6   2017  9      HIST       5778.30   253
7   2017  9      MSNB       8091.15   701
8   2017  9      NFLN       5412.80   200
9   2017  9      OANN       4966.80   648
10  2017  9      SCI        7993.18   132
11  2017  9      SPECSPTS   5580.26   220
12  2017  9      STARPLUS   3441.58   562
13  2017  9      TNT        5125.50   179
14  2017  9      WILO       19773.49  3138
15  2017  9      ZEETV      10175.13  922
16  2017  10     CNBCWORLD  1299.99   51
17  2017  10     CNN        8954.75   574
18  2017  10     COM        7501.25   108
19  2017  10     DATELINE   11076.49  610
20  2017  10     DISH       520.24    116
21  2017  10     HIST       1500.00   77
22  2017  10     MSNB       3238.89   422
23  2017  10     OANN       19968.20  1724
24  2017  10     STARPLUS   8338.98   1221
25  2017  10     TWC        7718.71   211
26  2017  10     WILO       27961.08  5076
27  2017  10     ZEETV      15429.12  819

In [437]:
visits_per_month.Airings.nunique()

24

In [440]:
df2.Network.unique()

array(['MSNB', 'HIST', 'TWC', 'WILO', 'STARPLUS', 'ZEETV', 'OANN', 'CNN',
       'CNBCWORLD', 'DATELINE', 'COM', 'DISH', 'BLOM', 'NFLN', 'FS1',
       'TNT', 'CNBC', 'SPECSPTS', 'SCI'], dtype=object)

In [452]:
df[df2.Network == 'TWC']

,Company,Datetime,Rotation,Creative,Network,Spend,Lift,Program,Year,Month
2,Company XYZ,2017-10-30 21:42:20,TWC Everyday Prime,ISCICODE0015H,TWC,300.00,15,WEATHER HACKS,2017,10
26,Company XYZ,2017-10-29 21:40:46,TWC Everyday Prime,ISCICODE0015H,TWC,510.00,-1,LIVE STORM COVERAGE,2017,10
33,Company XYZ,2017-10-29 20:40:32,TWC Everyday Prime,ISCICODE0015H,TWC,500.00,-9,LIVE STORM COVERAGE,2017,10
123,Company XYZ,2017-10-28 20:41:01,TWC Everyday Prime,ISCICODE0015H,TWC,510.00,6,LIVE STORM COVERAGE,2017,10
124,Company XYZ,2017-10-28 19:16:17,TWC Everyday Prime,ISCICODE0015H,TWC,500.00,9,LIVE STORM COVERAGE,2017,10
174,Company XYZ,2017-10-27 20:28:36,TWC Everyday Prime,ISCICODE0015H,TWC,500.00,-7,WEATHER CAUGHT ON CAMERA,2017,10
177,Company XYZ,2017-10-27 19:27:07,TWC Everyday Prime,ISCICODE0015H,TWC,500.00,9,WEATHER UNDERGROUND,2017,10
234,Company XYZ,2017-10-26 21:28:25,TWC Everyday Prime,ISCICODE0015H,TWC,510.00,18,WEATHER GONE VIRAL,2017,10
249,Company XYZ,2017-10-26 19:09:35,TWC Everyday Prime,ISCICODE0015H,TWC,490.00,-19,WEATHER UNDERGROUND,2017,10
300,Company XYZ,2017-10-25 20:09:57,TWC Everyday Prime,ISCICODE0015H,TWC,500.00,40,WEATHER CAUGHT ON CAMERA,2017,10
301,Company XYZ,2017-10-25 19:16:32,TWC Everyday Prime,ISCICODE0015H,TWC,490.00,44,WEATHER UNDERGROUND,2017,10
358,Company XYZ,2017-10-24 20:41:41,TWC Everyday Prime,ISCICODE0015H,TWC,500.00,1,WEATHER CAUGHT ON CAMERA,2017,10
1690,Company XYZ,2017-10-13 17:48:17,TWC Weekday Day,ISCICODE0015H,TWC,187.43,-2,WEATHER CENTER LIVE,2017,10
1698,Company XYZ,2017-10-13 15:39:31,TWC Weekday Day,ISCICODE0015H,TWC,195.08,101,WEATHER CENTER LIVE,2017,10
1748,Company XYZ,2017-10-13 06:15:27,None,ISCICODE0015H,TWC,191.25,-7,>>>> Show Information Not Available <<<<,2017,10
1814,Company XYZ,2017-10-12 15:07:57,TWC Weekday Day,ISCICODE0015H,TWC,187.43,1,WEATHER CENTER LIVE,2017,10
1836,Company XYZ,2017-10-12 05:56:26,None,ISCICODE0015H,TWC,187.43,11,>>>> Show Information Not Available <<<<,2017,10
1837,Company XYZ,2017-10-12 05:26:07,None,ISCICODE0015H,TWC,195.08,9,>>>> Show Information Not Available <<<<,2017,10
1954,Company XYZ,2017-10-11 15:10:19,TWC Weekday Day,ISCICODE0015H,TWC,191.25,5,WEATHER CENTER LIVE,2017,10
1962,Company XYZ,2017-10-11 12:47:22,TWC Weekday Day,ISCICODE0015H,TWC,187.43,9,WEATHER CENTER LIVE,2017,10
1966,Company XYZ,2017-10-11 11:41:01,TWC Weekday Day,ISCICODE0015H,TWC,195.08,-4,WEATHER CENTER LIVE,2017,10
1987,Company XYZ,2017-10-11 06:15:56,None,ISCICODE0015H,TWC,191.25,-18,>>>> Show Information Not Available <<<<,2017,10

In [451]:
df[df2.Network == 'CNBC']

,Company,Datetime,Rotation,Creative,Network,Spend,Lift,Program,Year,Month
6112,Company XYZ,2017-09-10 19:21:44,CNBC Everyday Prime,ISCICODE0015H,CNBC,708.05,4,SHARK TANK,2017,9
6291,Company XYZ,2017-09-05 18:51:24,CNBC Weekday Day,ISCICODE0015H,CNBC,208.08,9,MAD MONEY,2017,9
6295,Company XYZ,2017-09-05 17:58:34,CNBC Weekday Day,ISCICODE0015H,CNBC,208.08,4,FAST MONEY,2017,9
6330,Company XYZ,2017-09-04 16:19:20,CNBC Weekday Day,ISCICODE0015H,CNBC,208.08,18,SHARK TANK,2017,9
6339,Company XYZ,2017-09-04 09:43:28,CNBC Weekday Day,ISCICODE0015H,CNBC,199.92,29,AMERICAN GREED,2017,9
6341,Company XYZ,2017-09-04 09:16:32,CNBC Weekday Day,ISCICODE0015H,CNBC,199.92,15,AMERICAN GREED,2017,9
6343,Company XYZ,2017-09-04 07:52:44,CNBC Weekday Day,ISCICODE0015H,CNBC,199.92,18,>>>> Show Information Not Available <<<<,2017,9
6344,Company XYZ,2017-09-04 06:32:42,CNBC Weekday Day,ISCICODE0015H,CNBC,199.92,20,>>>> Show Information Not Available <<<<,2017,9
6345,Company XYZ,2017-09-03 22:55:54,CNBC Everyday Prime,ISCICODE0015H,CNBC,722.50,81,SHARK TANK,2017,9
6346,Company XYZ,2017-09-03 22:19:20,CNBC Everyday Prime,ISCICODE0015H,CNBC,736.95,44,SHARK TANK,2017,9
6347,Company XYZ,2017-09-03 21:11:00,CNBC Everyday Prime,ISCICODE0015H,CNBC,736.95,61,SHARK TANK,2017,9
6349,Company XYZ,2017-09-03 20:53:30,CNBC Everyday Prime,ISCICODE0015H,CNBC,708.05,46,SHARK TANK,2017,9
6351,Company XYZ,2017-09-03 20:21:05,CNBC Everyday Prime,ISCICODE0015H,CNBC,722.50,37,SHARK TANK,2017,9
6423,Company XYZ,2017-09-02 19:25:58,CNBC Everyday Prime,ISCICODE0015H,CNBC,722.50,20,UNDERCOVER BOSS,2017,9

In [468]:
monthly_stats = pd.merge(visits_per_month, lift_spend_df, left_on=['Year','Month','Airings'], right_on=['Year','Month','Network'], how='outer')
monthly_stats

,Year,Quarter,Month,TV_Network,Purchases,Exit Survey,Airings,Network,Spend,Lift
0,2017.0,Q3,9.0,aapka_colors,1.0,aapka_colors,NaN,NaN,NaN,NaN
1,2017.0,Q3,9.0,diy,2.0,diy,NaN,NaN,NaN,NaN
2,2017.0,Q3,9.0,other,5.0,other,NaN,NaN,NaN,NaN
3,2017.0,Q3,9.0,sony_entertainment_tv,2.0,sony_entertainment_tv,NaN,NaN,NaN,NaN
4,2017.0,Q4,10.0,aapka_colors,5.0,aapka_colors,NaN,NaN,NaN,NaN
5,2017.0,Q4,10.0,other,8.0,other,NaN,NaN,NaN,NaN
6,2017.0,Q4,10.0,sony_entertainment_tv,2.0,sony_entertainment_tv,NaN,NaN,NaN,NaN
7,2017.0,Q4,10.0,(blank),3.0,(blank),NaN,NaN,NaN,NaN
8,2017.0,Q3,9.0,baby_first,1.0,baby_first,BABY,NaN,NaN,NaN
9,2017.0,Q3,9.0,bloomberg,1.0,bloomberg,BLOM,BLOM,4966.72,199.0
10,2017.0,Q4,10.0,bloomberg,1.0,bloomberg,BLOM,NaN,NaN,NaN
11,2017.0,Q3,9.0,cbs_sports,1.0,cbs_sports,CBSS,NaN,NaN,NaN
12,2017.0,Q3,9.0,cnbc,5.0,cnbc,CNBC,CNBC,6481.42,406.0
13,2017.0,Q4,10.0,cnbc,10.0,cnbc,CNBC,NaN,NaN,NaN
14,2017.0,Q3,9.0,cnn,13.0,cnn,CNN,CNN,9159.60,507.0
15,2017.0,Q4,10.0,cnn,10.0,cnn,CNN,CNN,8954.75,574.0
16,2017.0,Q3,9.0,dish_network,4.0,dish_network,DISH,DISH,2513.09,976.0
17,2017.0,Q4,10.0,dish_network,1.0,dish_network,DISH,DISH,520.24,116.0
18,2017.0,Q3,9.0,fox_news,5.0,fox_news,FNEW,NaN,NaN,NaN
19,2017.0,Q4,10.0,fox_news,9.0,fox_news,FNEW,NaN,NaN,NaN
20,2017.0,Q3,9.0,fox_sports,1.0,fox_sports,FS1,FS1,4258.50,183.0
21,2017.0,Q4,10.0,fox_sports,1.0,fox_sports,FS1,NaN,NaN,NaN
22,2017.0,Q3,9.0,hgtv,6.0,hgtv,HGTV,NaN,NaN,NaN
23,2017.0,Q3,9.0,msnbc,10.0,msnbc,MSNB,MSNB,8091.15,701.0
24,2017.0,Q4,10.0,msnbc,6.0,msnbc,MSNB,MSNB,3238.89,422.0
25,2017.0,Q3,9.0,nfl_network,2.0,nfl_network,NFLN,NFLN,5412.80,200.0
26,2017.0,Q4,10.0,nfl_network,1.0,nfl_network,NFLN,NaN,NaN,NaN
27,2017.0,Q3,9.0,one_america_news_network,2.0,one_america_news_network,OANN,OANN,4966.80,648.0
28,2017.0,Q4,10.0,one_america_news_network,14.0,one_america_news_network,OANN,OANN,19968.20,1724.0
29,2017.0,Q3,9.0,science,1.0,science,SCI,SCI,7993.18,132.0
30,2017.0,Q4,10.0,science,3.0,science,SCI,NaN,NaN,NaN
31,2017.0,Q3,9.0,spectrum_sports,2.0,spectrum_sports,SPECSPTS,SPECSPTS,5580.26,220.0
32,2017.0,Q4,10.0,spectrum_sports,1.0,spectrum_sports,SPECSPTS,NaN,NaN,NaN
33,2017.0,Q3,9.0,star_plus,2.0,star_plus,STARPLUS,STARPLUS,3441.58,562.0
34,2017.0,Q4,10.0,star_plus,2.0,star_plus,STARPLUS,STARPLUS,8338.98,1221.0
35,2017.0,Q3,9.0,television_food_network,4.0,television_food_network,FOOD,NaN,NaN,NaN
36,2017.0,Q3,9.0,the_history_channel,4.0,the_history_channel,HIST,HIST,5778.30,253.0
37,2017.0,Q4,10.0,the_history_channel,1.0,the_history_channel,HIST,HIST,1500.00,77.0
38,2017.0,Q3,9.0,turner_network_tv,2.0,turner_network_tv,TNT,TNT,5125.50,179.0
39,2017.0,Q4,10.0,turner_network_tv,2.0,turner_network_tv,TNT,NaN,NaN,NaN
40,2017.0,Q3,9.0,willow_tv,27.0,willow_tv,WILO,WILO,19773.49,3138.0
41,2017.0,Q4,10.0,willow_tv,29.0,willow_tv,WILO,WILO,27961.08,5076.0
42,2017.0,Q3,9.0,zeetv,2.0,zeetv,ZEETV,ZEETV,10175.13,922.0
43,2017.0,Q4,10.0,zeetv,3.0,zeetv,ZEETV,ZEETV,15429.12,819.0
44,2017.0,Q4,10.0,comedy_central,2.0,comedy_central,COM,COM,7501.25,108.0
45,2017.0,Q4,10.0,dateline,10.0,dateline,DATELINE,DATELINE,11076.49,610.0
46,2017.0,Q4,10.0,espn,4.0,espn,ENN,NaN,NaN,NaN
47,2017.0,Q4,10.0,fyi,2.0,fyi,FYI,NaN,NaN,NaN
48,2017.0,Q4,10.0,oprah_winfrey_network,1.0,oprah_winfrey_network,OWN,NaN,NaN,NaN
49,NaN,NaN,NaN,NaN,NaN,cozi,COZI,NaN,NaN,NaN
50,NaN,NaN,NaN,NaN,NaN,lifetime_movie_network,LMN,NaN,NaN,NaN
51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,NaN,NaN,NaN,NaN,NaN,spike,SPK,NaN,NaN,NaN
53,NaN,NaN,NaN,NaN,NaN,sundance_channel,SUND,NaN,NaN,NaN
54,NaN,NaN,NaN,NaN,NaN,the_cooking_channel,COOK,NaN,NaN,NaN
55,NaN,NaN,NaN,NaN,NaN,the_weather_channel,TWC,NaN,NaN,NaN
56,NaN,NaN,NaN,NaN,NaN,velocity,VEL,NaN,NaN,NaN
57,NaN,NaN,NaN,NaN,NaN,investigation discovery,ID,NaN,NaN,NaN
58,NaN,NaN,NaN,NaN,NaN,viceland,VICE,NaN,NaN,NaN
59,NaN,NaN,NaN,NaN,NaN,destination america,DEST,NaN,NaN,NaN
60,NaN,NaN,NaN,NaN,NaN,golf,GOLF,NaN,NaN,NaN
61,NaN,NaN,NaN,NaN,NaN,tennis,TENN,NaN,NaN,NaN
62,NaN,NaN,NaN,NaN,NaN,cnbc world,CNBCWORLD,NaN,NaN,NaN
63,2017.0,NaN,9.0,NaN,NaN,NaN,NaN,DATELINE,4211.62,252.0
64,2017.0,NaN,10.0,NaN,NaN,NaN,NaN,CNBCWORLD,1299.99,51.0
65,2017.0,NaN,10.0,NaN,NaN,NaN,NaN,TWC,7718.71,211.0

In [471]:
monthly_stats[monthly_stats.Year.notna()]

,Year,Quarter,Month,TV_Network,Purchases,Exit Survey,Airings,Network,Spend,Lift
0,2017.0,Q3,9.0,aapka_colors,1.0,aapka_colors,NaN,NaN,NaN,NaN
1,2017.0,Q3,9.0,diy,2.0,diy,NaN,NaN,NaN,NaN
2,2017.0,Q3,9.0,other,5.0,other,NaN,NaN,NaN,NaN
3,2017.0,Q3,9.0,sony_entertainment_tv,2.0,sony_entertainment_tv,NaN,NaN,NaN,NaN
4,2017.0,Q4,10.0,aapka_colors,5.0,aapka_colors,NaN,NaN,NaN,NaN
5,2017.0,Q4,10.0,other,8.0,other,NaN,NaN,NaN,NaN
6,2017.0,Q4,10.0,sony_entertainment_tv,2.0,sony_entertainment_tv,NaN,NaN,NaN,NaN
7,2017.0,Q4,10.0,(blank),3.0,(blank),NaN,NaN,NaN,NaN
8,2017.0,Q3,9.0,baby_first,1.0,baby_first,BABY,NaN,NaN,NaN
9,2017.0,Q3,9.0,bloomberg,1.0,bloomberg,BLOM,BLOM,4966.72,199.0
10,2017.0,Q4,10.0,bloomberg,1.0,bloomberg,BLOM,NaN,NaN,NaN
11,2017.0,Q3,9.0,cbs_sports,1.0,cbs_sports,CBSS,NaN,NaN,NaN
12,2017.0,Q3,9.0,cnbc,5.0,cnbc,CNBC,CNBC,6481.42,406.0
13,2017.0,Q4,10.0,cnbc,10.0,cnbc,CNBC,NaN,NaN,NaN
14,2017.0,Q3,9.0,cnn,13.0,cnn,CNN,CNN,9159.60,507.0
15,2017.0,Q4,10.0,cnn,10.0,cnn,CNN,CNN,8954.75,574.0
16,2017.0,Q3,9.0,dish_network,4.0,dish_network,DISH,DISH,2513.09,976.0
17,2017.0,Q4,10.0,dish_network,1.0,dish_network,DISH,DISH,520.24,116.0
18,2017.0,Q3,9.0,fox_news,5.0,fox_news,FNEW,NaN,NaN,NaN
19,2017.0,Q4,10.0,fox_news,9.0,fox_news,FNEW,NaN,NaN,NaN
20,2017.0,Q3,9.0,fox_sports,1.0,fox_sports,FS1,FS1,4258.50,183.0
21,2017.0,Q4,10.0,fox_sports,1.0,fox_sports,FS1,NaN,NaN,NaN
22,2017.0,Q3,9.0,hgtv,6.0,hgtv,HGTV,NaN,NaN,NaN
23,2017.0,Q3,9.0,msnbc,10.0,msnbc,MSNB,MSNB,8091.15,701.0
24,2017.0,Q4,10.0,msnbc,6.0,msnbc,MSNB,MSNB,3238.89,422.0
25,2017.0,Q3,9.0,nfl_network,2.0,nfl_network,NFLN,NFLN,5412.80,200.0
26,2017.0,Q4,10.0,nfl_network,1.0,nfl_network,NFLN,NaN,NaN,NaN
27,2017.0,Q3,9.0,one_america_news_network,2.0,one_america_news_network,OANN,OANN,4966.80,648.0
28,2017.0,Q4,10.0,one_america_news_network,14.0,one_america_news_network,OANN,OANN,19968.20,1724.0
29,2017.0,Q3,9.0,science,1.0,science,SCI,SCI,7993.18,132.0
30,2017.0,Q4,10.0,science,3.0,science,SCI,NaN,NaN,NaN
31,2017.0,Q3,9.0,spectrum_sports,2.0,spectrum_sports,SPECSPTS,SPECSPTS,5580.26,220.0
32,2017.0,Q4,10.0,spectrum_sports,1.0,spectrum_sports,SPECSPTS,NaN,NaN,NaN
33,2017.0,Q3,9.0,star_plus,2.0,star_plus,STARPLUS,STARPLUS,3441.58,562.0
34,2017.0,Q4,10.0,star_plus,2.0,star_plus,STARPLUS,STARPLUS,8338.98,1221.0
35,2017.0,Q3,9.0,television_food_network,4.0,television_food_network,FOOD,NaN,NaN,NaN
36,2017.0,Q3,9.0,the_history_channel,4.0,the_history_channel,HIST,HIST,5778.30,253.0
37,2017.0,Q4,10.0,the_history_channel,1.0,the_history_channel,HIST,HIST,1500.00,77.0
38,2017.0,Q3,9.0,turner_network_tv,2.0,turner_network_tv,TNT,TNT,5125.50,179.0
39,2017.0,Q4,10.0,turner_network_tv,2.0,turner_network_tv,TNT,NaN,NaN,NaN
40,2017.0,Q3,9.0,willow_tv,27.0,willow_tv,WILO,WILO,19773.49,3138.0
41,2017.0,Q4,10.0,willow_tv,29.0,willow_tv,WILO,WILO,27961.08,5076.0
42,2017.0,Q3,9.0,zeetv,2.0,zeetv,ZEETV,ZEETV,10175.13,922.0
43,2017.0,Q4,10.0,zeetv,3.0,zeetv,ZEETV,ZEETV,15429.12,819.0
44,2017.0,Q4,10.0,comedy_central,2.0,comedy_central,COM,COM,7501.25,108.0
45,2017.0,Q4,10.0,dateline,10.0,dateline,DATELINE,DATELINE,11076.49,610.0
46,2017.0,Q4,10.0,espn,4.0,espn,ENN,NaN,NaN,NaN
47,2017.0,Q4,10.0,fyi,2.0,fyi,FYI,NaN,NaN,NaN
48,2017.0,Q4,10.0,oprah_winfrey_network,1.0,oprah_winfrey_network,OWN,NaN,NaN,NaN
63,2017.0,NaN,9.0,NaN,NaN,NaN,NaN,DATELINE,4211.62,252.0
64,2017.0,NaN,10.0,NaN,NaN,NaN,NaN,CNBCWORLD,1299.99,51.0
65,2017.0,NaN,10.0,NaN,NaN,NaN,NaN,TWC,7718.71,211.0

In [422]:
monthly_stats = test.get_metrics()
monthly_stats

<ipython-input-420-55961030a641>:56: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  lift_spend_df = df2.groupby(['Year','Month','Network'])['Spend','Lift'].sum()

,Year,Quarter,Month,TV_Network,Visits,Spend,Lift,cpv,conversion_rate,cpa
0,2017,Q3,9,aapka_colors,1,NaN,NaN,NaN,NaN,NaN
1,2017,Q3,9,baby_first,1,NaN,NaN,NaN,NaN,NaN
2,2017,Q3,9,bloomberg,1,4966.72,199.0,4966.720000,0.005025,4966.720000
3,2017,Q3,9,cbs_sports,1,NaN,NaN,NaN,NaN,NaN
4,2017,Q3,9,cnbc,4,6481.42,406.0,1620.355000,0.009852,1620.355000
5,2017,Q3,9,cnn,6,9159.60,507.0,1526.600000,0.011834,1526.600000
6,2017,Q3,9,dish_network,3,2513.09,976.0,837.696667,0.003074,837.696667
7,2017,Q3,9,diy,2,NaN,NaN,NaN,NaN,NaN
8,2017,Q3,9,fox_news,4,NaN,NaN,NaN,NaN,NaN
9,2017,Q3,9,fox_sports,1,4258.50,183.0,4258.500000,0.005464,4258.500000
10,2017,Q3,9,hgtv,6,NaN,NaN,NaN,NaN,NaN
11,2017,Q3,9,msnbc,7,8091.15,701.0,1155.878571,0.009986,1155.878571
12,2017,Q3,9,nfl_network,2,5412.80,200.0,2706.400000,0.010000,2706.400000
13,2017,Q3,9,one_america_news_network,2,4966.80,648.0,2483.400000,0.003086,2483.400000
14,2017,Q3,9,other,5,NaN,NaN,NaN,NaN,NaN
15,2017,Q3,9,science,1,7993.18,132.0,7993.180000,0.007576,7993.180000
16,2017,Q3,9,sony_entertainment_tv,2,NaN,NaN,NaN,NaN,NaN
17,2017,Q3,9,spectrum_sports,1,5580.26,220.0,5580.260000,0.004545,5580.260000
18,2017,Q3,9,star_plus,2,3441.58,562.0,1720.790000,0.003559,1720.790000
19,2017,Q3,9,television_food_network,3,NaN,NaN,NaN,NaN,NaN
20,2017,Q3,9,the_history_channel,3,5778.30,253.0,1926.100000,0.011858,1926.100000
21,2017,Q3,9,turner_network_tv,2,5125.50,179.0,2562.750000,0.011173,2562.750000
22,2017,Q3,9,willow_tv,14,19773.49,3138.0,1412.392143,0.004461,1412.392143
23,2017,Q3,9,zeetv,2,10175.13,922.0,5087.565000,0.002169,5087.565000
24,2017,Q4,10,(blank),3,NaN,NaN,NaN,NaN,NaN
25,2017,Q4,10,aapka_colors,4,NaN,NaN,NaN,NaN,NaN
26,2017,Q4,10,bloomberg,1,NaN,NaN,NaN,NaN,NaN
27,2017,Q4,10,cnbc,8,NaN,NaN,NaN,NaN,NaN
28,2017,Q4,10,cnn,3,8954.75,574.0,2984.916667,0.005226,2984.916667
29,2017,Q4,10,comedy_central,2,7501.25,108.0,3750.625000,0.018519,3750.625000
30,2017,Q4,10,dateline,5,NaN,NaN,NaN,NaN,NaN
31,2017,Q4,10,dish_network,1,520.24,116.0,520.240000,0.008621,520.240000
32,2017,Q4,10,espn,2,NaN,NaN,NaN,NaN,NaN
33,2017,Q4,10,fox_news,6,NaN,NaN,NaN,NaN,NaN
34,2017,Q4,10,fox_sports,1,NaN,NaN,NaN,NaN,NaN
35,2017,Q4,10,fyi,2,NaN,NaN,NaN,NaN,NaN
36,2017,Q4,10,msnbc,5,3238.89,422.0,647.778000,0.011848,647.778000
37,2017,Q4,10,nfl_network,1,NaN,NaN,NaN,NaN,NaN
38,2017,Q4,10,one_america_news_network,12,19968.20,1724.0,1664.016667,0.006961,1664.016667
39,2017,Q4,10,oprah_winfrey_network,1,NaN,NaN,NaN,NaN,NaN
40,2017,Q4,10,other,6,NaN,NaN,NaN,NaN,NaN
41,2017,Q4,10,science,3,NaN,NaN,NaN,NaN,NaN
42,2017,Q4,10,sony_entertainment_tv,2,NaN,NaN,NaN,NaN,NaN
43,2017,Q4,10,spectrum_sports,1,NaN,NaN,NaN,NaN,NaN
44,2017,Q4,10,star_plus,2,8338.98,1221.0,4169.490000,0.001638,4169.490000
45,2017,Q4,10,the_history_channel,1,1500.00,77.0,1500.000000,0.012987,1500.000000
46,2017,Q4,10,turner_network_tv,2,NaN,NaN,NaN,NaN,NaN
47,2017,Q4,10,willow_tv,13,27961.08,5076.0,2150.852308,0.002561,2150.852308
48,2017,Q4,10,zeetv,3,15429.12,819.0,5143.040000,0.003663,5143.040000

In [412]:
class Final:
    
    def __init__(self, excel_file = None):
        self.excel_file = excel_file
        
    def read_excel(self):
        purchase_exit_survey_data_df = pd.read_excel(self.excel_file, sheet_name = 'Purchase Exit Survey Data', header=[0,1,2,3,4], index_col=[0,1])
        airings_df = pd.read_excel(self.excel_file, sheet_name = 'Airings')
        lookup_df = pd.read_excel(self.excel_file, sheet_name = 'Lookup',header=1)
        return purchase_exit_survey_data_df, airings_df, lookup_df
    
    def prepare_data(self):
        df1, df2, df3 = self.read_excel()
        
        # Preare df1/purchase_exit_survey_data_df for use
        
        # Reformat purchase_exit_survey_data_df
        df1 = df1.stack().stack().stack().stack()
        # Set Up Names inpurchase_exit_survey_data_df
        df1.index.set_names(['Campaign_Type','TV_Network','Submitted_Application_Num','Month', 'Quarter','Year'],level=[0,1,2,3,4,5], inplace=True)
        # Reset index in purchase_exit_survey_data_df
        #return df1.reset_index()
        df1 = df1.reset_index()
        # Change last column name to Value in purchase_exit_survey_data_df
        df1 = df1.rename(columns={'Submitted Application Timestamp':'Value'})
        # Change Year to Int
        #df1['Year'] = df['Year'].astype(int)
        df1['Year'] = pd.to_datetime(df1.Year, format='%Y').dt.year
        # Change Month Column to Ints
        df1['Month'] = pd.to_datetime(df1.Month, format='%B').dt.month
        # Finalize purchase_exit_survey_data_df columns
        df1 = df1[['TV_Network','Year','Quarter','Month','Submitted_Application_Num','Value']]
        
        # Prepare df2/airings_df for use
        
        # Change Date/Time ET Column Name to Datetime
        df2 = df2.rename(columns={'Date/Time ET': 'Datetime'})
        df2['Year'] = pd.DatetimeIndex(df2['Datetime']).year
        df2['Month'] = pd.DatetimeIndex(df2['Datetime']).month
        
        return df1, df2, df3
    
    def get_monthly_stats(self):
        df1, df2, df3 = self.prepare_data()
        
        # Compute Visits Per Month
        visits_per_month = df1.groupby(['Year','Quarter','Month','TV_Network'])['Value'].count()
        visits_per_month = visits_per_month.to_frame()
        visits_per_month = visits_per_month.reset_index()
        visits_per_month = visits_per_month.rename(columns = {'Value':'Visits'})
        
        # Merge visits_per_month to Lookup Table
        visits_per_month = pd.merge(visits_per_month, df3[['Exit Survey','Airings']],left_on= ['TV_Network'], right_on = ['Exit Survey'], how='outer')
        
        # Compute Spend and Lift Per Month
        lift_spend_df = df2.groupby(['Year','Month','Network'])['Spend','Lift'].sum()
        lift_spend_df = lift_spend_df.reset_index()
        
        # Merge visit data and lift/spend data
        monthly_stats = pd.merge(visits_per_month, lift_spend_df, left_on=['Year','Month','Airings'], right_on=['Year','Month','Network'], how='outer')
        monthly_stats = monthly_stats[['Year','Quarter','Month','TV_Network','Visits','Spend','Lift']]
        
        return monthly_stats
    
    def get_metrics(self):
        # Get Monthly Stats Df
        monthly_stats = self.get_monthly_stats()
        
        cpv_df = self.get_cpv(monthly_stats)
        return cpv_df
    
    def get_cpv(self, monthly_stats):
        
        return monthly_stats

In [413]:
test = Final('Analyst_Dataset.xlsx')

In [414]:
cpv = test.get_metrics()

<ipython-input-412-ad86e75c008e>:56: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  lift_spend_df = df2.groupby(['Year','Month','Network'])['Spend','Lift'].sum()

In [415]:
cpv.head()

     Year Quarter  Month             TV_Network  Visits  Spend  Lift
0  2017.0  Q3      9.0    aapka_colors           1.0    NaN    NaN
1  2017.0  Q3      9.0    diy                    2.0    NaN    NaN
2  2017.0  Q3      9.0    other                  5.0    NaN    NaN
3  2017.0  Q3      9.0    sony_entertainment_tv  2.0    NaN    NaN
4  2017.0  Q4      10.0   aapka_colors           4.0    NaN    NaN

In [417]:
cpv.size

476

In [419]:
cpv['cpv'] = cpv['Spend']/cpv['Visits']
cpv

,Year,Quarter,Month,TV_Network,Visits,Spend,Lift,cpv
0,2017.0,Q3,9.0,aapka_colors,1.0,NaN,NaN,NaN
1,2017.0,Q3,9.0,diy,2.0,NaN,NaN,NaN
2,2017.0,Q3,9.0,other,5.0,NaN,NaN,NaN
3,2017.0,Q3,9.0,sony_entertainment_tv,2.0,NaN,NaN,NaN
4,2017.0,Q4,10.0,aapka_colors,4.0,NaN,NaN,NaN
5,2017.0,Q4,10.0,other,6.0,NaN,NaN,NaN
6,2017.0,Q4,10.0,sony_entertainment_tv,2.0,NaN,NaN,NaN
7,2017.0,Q4,10.0,(blank),3.0,NaN,NaN,NaN
8,2017.0,Q4,10.0,dateline,5.0,NaN,NaN,NaN
9,2017.0,Q3,9.0,baby_first,1.0,NaN,NaN,NaN
10,2017.0,Q3,9.0,bloomberg,1.0,4966.72,199.0,4966.720000
11,2017.0,Q4,10.0,bloomberg,1.0,NaN,NaN,NaN
12,2017.0,Q3,9.0,cbs_sports,1.0,NaN,NaN,NaN
13,2017.0,Q3,9.0,cnbc,4.0,6481.42,406.0,1620.355000
14,2017.0,Q4,10.0,cnbc,8.0,NaN,NaN,NaN
15,2017.0,Q3,9.0,cnn,6.0,9159.60,507.0,1526.600000
16,2017.0,Q4,10.0,cnn,3.0,8954.75,574.0,2984.916667
17,2017.0,Q3,9.0,dish_network,3.0,2513.09,976.0,837.696667
18,2017.0,Q4,10.0,dish_network,1.0,520.24,116.0,520.240000
19,2017.0,Q3,9.0,fox_news,4.0,NaN,NaN,NaN
20,2017.0,Q4,10.0,fox_news,6.0,NaN,NaN,NaN
21,2017.0,Q3,9.0,fox_sports,1.0,4258.50,183.0,4258.500000
22,2017.0,Q4,10.0,fox_sports,1.0,NaN,NaN,NaN
23,2017.0,Q3,9.0,hgtv,6.0,NaN,NaN,NaN
24,2017.0,Q3,9.0,msnbc,7.0,8091.15,701.0,1155.878571
25,2017.0,Q4,10.0,msnbc,5.0,3238.89,422.0,647.778000
26,2017.0,Q3,9.0,nfl_network,2.0,5412.80,200.0,2706.400000
27,2017.0,Q4,10.0,nfl_network,1.0,NaN,NaN,NaN
28,2017.0,Q3,9.0,one_america_news_network,2.0,4966.80,648.0,2483.400000
29,2017.0,Q4,10.0,one_america_news_network,12.0,19968.20,1724.0,1664.016667
30,2017.0,Q3,9.0,science,1.0,7993.18,132.0,7993.180000
31,2017.0,Q4,10.0,science,3.0,NaN,NaN,NaN
32,2017.0,Q3,9.0,spectrum_sports,1.0,5580.26,220.0,5580.260000
33,2017.0,Q4,10.0,spectrum_sports,1.0,NaN,NaN,NaN
34,2017.0,Q3,9.0,star_plus,2.0,3441.58,562.0,1720.790000
35,2017.0,Q4,10.0,star_plus,2.0,8338.98,1221.0,4169.490000
36,2017.0,Q3,9.0,television_food_network,3.0,NaN,NaN,NaN
37,2017.0,Q3,9.0,the_history_channel,3.0,5778.30,253.0,1926.100000
38,2017.0,Q4,10.0,the_history_channel,1.0,1500.00,77.0,1500.000000
39,2017.0,Q3,9.0,turner_network_tv,2.0,5125.50,179.0,2562.750000
40,2017.0,Q4,10.0,turner_network_tv,2.0,NaN,NaN,NaN
41,2017.0,Q3,9.0,willow_tv,14.0,19773.49,3138.0,1412.392143
42,2017.0,Q4,10.0,willow_tv,13.0,27961.08,5076.0,2150.852308
43,2017.0,Q3,9.0,zeetv,2.0,10175.13,922.0,5087.565000
44,2017.0,Q4,10.0,zeetv,3.0,15429.12,819.0,5143.040000
45,2017.0,Q4,10.0,comedy_central,2.0,7501.25,108.0,3750.625000
46,2017.0,Q4,10.0,espn,2.0,NaN,NaN,NaN
47,2017.0,Q4,10.0,fyi,2.0,NaN,NaN,NaN
48,2017.0,Q4,10.0,oprah_winfrey_network,1.0,NaN,NaN,NaN
49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,2017.0,NaN,9.0,NaN,NaN,4211.62,252.0,NaN
65,2017.0,NaN,10.0,NaN,NaN,1299.99,51.0,NaN
66,2017.0,NaN,10.0,NaN,NaN,11076.49,610.0,NaN
67,2017.0,NaN,10.0,NaN,NaN,7718.71,211.0,NaN

In [401]:
class Final:
    
    def __init__(self, excel_file = None):
        self.excel_file = excel_file
        
    def read_excel(self):
        purchase_exit_survey_data_df = pd.read_excel(self.excel_file, sheet_name = 'Purchase Exit Survey Data', header=[0,1,2,3,4], index_col=[0,1])
        airings_df = pd.read_excel(self.excel_file, sheet_name = 'Airings')
        lookup_df = pd.read_excel(self.excel_file, sheet_name = 'Lookup',header=1)
        return purchase_exit_survey_data_df, airings_df, lookup_df
    
    def prepare_data(self):
        df1, df2, df3 = self.read_excel()
        
        # Preare df1/purchase_exit_survey_data_df for use
        
        # Reformat purchase_exit_survey_data_df
        df1 = df1.stack().stack().stack().stack()
        # Set Up Names inpurchase_exit_survey_data_df
        df1.index.set_names(['Campaign_Type','TV_Network','Submitted_Application_Num','Month', 'Quarter','Year'],level=[0,1,2,3,4,5], inplace=True)
        # Reset index in purchase_exit_survey_data_df
        #return df1.reset_index()
        df1 = df1.reset_index()
        # Change last column name to Value in purchase_exit_survey_data_df
        df1 = df1.rename(columns={'Submitted Application Timestamp':'Value'})
        # Change Year to Int
        #df1['Year'] = df['Year'].astype(int)
        df1['Year'] = pd.to_datetime(df1.Year, format='%Y').dt.year
        # Change Month Column to Ints
        df1['Month'] = pd.to_datetime(df1.Month, format='%B').dt.month
        # Finalize purchase_exit_survey_data_df columns
        df1 = df1[['TV_Network','Year','Quarter','Month','Submitted_Application_Num','Value']]
        
        # Prepare df2/airings_df for use
        
        # Change Date/Time ET Column Name to Datetime
        df2 = df2.rename(columns={'Date/Time ET': 'Datetime'})
        df2['Year'] = pd.DatetimeIndex(df2['Datetime']).year
        df2['Month'] = pd.DatetimeIndex(df2['Datetime']).month
        
        return df1, df2, df3
    
    def get_monthly_stats(self):
        df1, df2, df3 = self.prepare_data()
        
        # Compute Visits Per Month
        visits_per_month = df1.groupby(['Year','Quarter','Month','TV_Network'])['Value'].count()
        visits_per_month = visits_per_month.to_frame()
        visits_per_month = visits_per_month.reset_index()
        visits_per_month = visits_per_month.rename(columns = {'Value':'Visits'})
        
        # Merge visits_per_month to Lookup Table
        visits_per_month = pd.merge(visits_per_month, df3[['Exit Survey','Airings']],left_on= ['TV_Network'], right_on = ['Exit Survey'], how='left')
        
        # Compute Spend and Lift Per Month
        lift_spend_df = df2.groupby(['Year','Month','Network'])['Spend','Lift'].sum()
        lift_spend_df = lift_spend_df.reset_index()
        
        # Merge visit data and lift/spend data
        monthly_stats = pd.merge(visits_per_month, lift_spend_df, left_on=['Year','Month','Airings'], right_on=['Year','Month','Network'], how='left')
        monthly_stats = monthly_stats[['Year','Quarter','Month','TV_Network','Visits','Spend','Lift']]
        
        return monthly_stats
    
    def get_cpv():
        pass

In [402]:
test = Final('Analyst_Dataset.xlsx')

In [403]:
df1,df2,df3 = test.prepare_data()

In [404]:
df2.head()

,Company,Datetime,Rotation,Creative,Network,Spend,Lift,Program,Year,Month
0,Company XYZ,2017-10-30 22:50:00,MSNB Weekday Prime,ISCICODE0015H,MSNB,980.0,152,THE LAST WORD WITH LAWRENCE O'DONNEL,2017,10
1,Company XYZ,2017-10-30 22:27:50,HIST Everyday Prime (mirrored),ISCICODE0015H,HIST,1500.0,77,PAWN STARS,2017,10
2,Company XYZ,2017-10-30 21:42:20,TWC Everyday Prime,ISCICODE0015H,TWC,300.0,15,WEATHER HACKS,2017,10
3,Company XYZ,2017-10-30 21:17:22,MSNB Weekday Prime,ISCICODE0015H,MSNB,1020.0,123,THE RACHEL MADDOW SHOW,2017,10
4,Company XYZ,2017-10-30 20:28:46,MSNB Weekday Prime,ISCICODE0015H,MSNB,1020.0,121,ALL IN WITH CHRIS HAYES,2017,10

In [405]:
df2.loc[df2['Network'] == 'BLOM']

,Company,Datetime,Rotation,Creative,Network,Spend,Lift,Program,Year,Month
5439,Company XYZ,2017-09-22 23:58:55,BLOM Weekday Prime,ISCICODE0015H,BLOM,95.37,-4,BLOOMBERG TECHNOLOGY,2017,9
5441,Company XYZ,2017-09-22 23:27:39,BLOM Weekday Prime,ISCICODE0015H,BLOM,93.50,7,BLOOMBERG TECHNOLOGY,2017,9
5445,Company XYZ,2017-09-22 22:39:50,BLOM Weekday Prime,ISCICODE0015H,BLOM,95.37,-2,CHARLIE ROSE,2017,9
5448,Company XYZ,2017-09-22 21:28:24,BLOM Weekday Prime,ISCICODE0015H,BLOM,95.37,-4,BRILLIANT IDEAS,2017,9
5453,Company XYZ,2017-09-22 20:52:40,BLOM Weekday Prime,ISCICODE0015H,BLOM,93.50,12,BLOOMBERG BEST: GLOBAL BUSINESS FORU,2017,9
5458,Company XYZ,2017-09-22 20:22:39,BLOM Weekday Prime,ISCICODE0015H,BLOM,93.50,-6,BLOOMBERG BEST: GLOBAL BUSINESS FORU,2017,9
5462,Company XYZ,2017-09-22 19:43:10,BLOM Weekday Prime,ISCICODE0015H,BLOM,95.37,-5,BEST OF BLOOMBERG MARKETS: MIDDLE EA,2017,9
5468,Company XYZ,2017-09-22 18:58:24,BLOM Weekday Prime,ISCICODE0015H,BLOM,91.63,-7,CHARLIE ROSE,2017,9
5471,Company XYZ,2017-09-22 18:18:40,BLOM Weekday Prime,ISCICODE0015H,BLOM,93.50,15,CHARLIE ROSE,2017,9
5474,Company XYZ,2017-09-22 17:50:02,BLOM Weekday Prime,ISCICODE0015H,BLOM,93.50,-13,BLOOMBERG TECHNOLOGY,2017,9
5484,Company XYZ,2017-09-21 23:58:09,BLOM Weekday Prime,ISCICODE0015H,BLOM,95.37,-5,BLOOMBERG TECHNOLOGY,2017,9
5491,Company XYZ,2017-09-21 22:40:49,BLOM Weekday Prime,ISCICODE0015H,BLOM,91.63,11,CHARLIE ROSE,2017,9
5503,Company XYZ,2017-09-21 20:54:55,BLOM Weekday Prime,ISCICODE0015H,BLOM,91.63,-7,BLOOMBERG DAYBREAK: ASIA,2017,9
5510,Company XYZ,2017-09-21 20:12:44,BLOM Weekday Prime,ISCICODE0015H,BLOM,95.37,22,BLOOMBERG DAYBREAK: ASIA,2017,9
5513,Company XYZ,2017-09-21 19:28:25,BLOM Weekday Prime,ISCICODE0015H,BLOM,91.63,-4,BLOOMBERG DAYBREAK: ASIA,2017,9
5517,Company XYZ,2017-09-21 18:58:09,BLOM Weekday Prime,ISCICODE0015H,BLOM,95.37,-4,CHARLIE ROSE,2017,9
5521,Company XYZ,2017-09-21 18:15:10,BLOM Weekday Prime,ISCICODE0015H,BLOM,91.63,4,CHARLIE ROSE,2017,9
5524,Company XYZ,2017-09-21 17:50:53,BLOM Weekday Prime,ISCICODE0015H,BLOM,95.37,15,BLOOMBERG TECHNOLOGY,2017,9
5569,Company XYZ,2017-09-20 23:50:45,BLOM Weekday Prime,ISCICODE0015H,BLOM,91.63,7,BLOOMBERG TECHNOLOGY,2017,9
5571,Company XYZ,2017-09-20 23:21:34,BLOM Weekday Prime,ISCICODE0015H,BLOM,91.63,-22,BLOOMBERG TECHNOLOGY,2017,9
5574,Company XYZ,2017-09-20 22:29:55,BLOM Weekday Prime,ISCICODE0015H,BLOM,91.63,2,CHARLIE ROSE,2017,9
5577,Company XYZ,2017-09-20 21:57:24,BLOM Weekday Prime,ISCICODE0015H,BLOM,95.37,9,BLOOMBERG MARKETS: ASIA,2017,9
5578,Company XYZ,2017-09-20 21:20:55,BLOM Weekday Prime,ISCICODE0015H,BLOM,95.37,13,THE DAVID RUBENSTEIN SHOW: PEER TO P,2017,9
5584,Company XYZ,2017-09-20 20:15:40,BLOM Weekday Prime,ISCICODE0015H,BLOM,93.50,-13,BLOOMBERG DAYBREAK: ASIA,2017,9
5587,Company XYZ,2017-09-20 19:59:39,BLOM Weekday Prime,ISCICODE0015H,BLOM,95.37,-20,BLOOMBERG DAYBREAK: ASIA,2017,9
5589,Company XYZ,2017-09-20 19:28:10,BLOM Weekday Prime,ISCICODE0015H,BLOM,95.37,0,BLOOMBERG DAYBREAK: ASIA,2017,9
5592,Company XYZ,2017-09-20 18:58:54,BLOM Weekday Prime,ISCICODE0015H,BLOM,91.63,-7,CHARLIE ROSE,2017,9
5595,Company XYZ,2017-09-20 18:15:55,BLOM Weekday Prime,ISCICODE0015H,BLOM,95.37,7,CHARLIE ROSE,2017,9
5599,Company XYZ,2017-09-20 17:44:39,BLOM Weekday Prime,ISCICODE0015H,BLOM,95.37,-2,BLOOMBERG TECHNOLOGY,2017,9
5601,Company XYZ,2017-09-20 17:11:49,BLOM Weekday Prime,ISCICODE0015H,BLOM,95.37,-3,BLOOMBERG TECHNOLOGY,2017,9
5612,Company XYZ,2017-09-19 23:50:28,BLOM Weekday Prime,ISCICODE0015H,BLOM,95.37,2,BLOOMBERG TECHNOLOGY,2017,9
5613,Company XYZ,2017-09-19 23:19:49,BLOM Weekday Prime,ISCICODE0015H,BLOM,95.37,-16,BLOOMBERG TECHNOLOGY,2017,9
5618,Company XYZ,2017-09-19 22:37:24,BLOM Weekday Prime,ISCICODE0015H,BLOM,91.63,18,CHARLIE ROSE,2017,9
5621,Company XYZ,2017-09-19 21:58:25,BLOM Weekday Prime,ISCICODE0015H,BLOM,91.63,11,BLOOMBERG MARKETS: ASIA,2017,9
5623,Company XYZ,2017-09-19 21:27:54,BLOM Weekday Prime,ISCICODE0015H,BLOM,91.63,6,BLOOMBERG MARKETS: ASIA,2017,9
5628,Company XYZ,2017-09-19 20:52:34,BLOM Weekday Prime,ISCICODE0015H,BLOM,95.37,9,BLOOMBERG DAYBREAK: ASIA,2017,9
5631,Company XYZ,2017-09-19 20:13:28,BLOM Weekday Prime,ISCICODE0015H,BLOM,91.63,24,BLOOMBERG DAYBREAK: ASIA,2017,9
5632,Company XYZ,2017-09-19 19:43:11,BLOM Weekday Prime,ISCICODE0015H,BLOM,91.63,-2,BLOOMBERG DAYBREAK: ASIA,2017,9
5635,Company XYZ,2017-09-19 18:58:40,BLOM Weekday Prime,ISCICODE0015H,BLOM,91.63,2,CHARLIE ROSE,2017,9
5638,Company XYZ,2017-09-19 18:23:30,BLOM Weekday Prime,ISCICODE0015H,BLOM,93.50,24,CHARLIE ROSE,2017,9
5642,Company XYZ,2017-09-19 17:49:59,BLOM Weekday Prime,ISCICODE0015H,BLOM,93.50,26,BLOOMBERG TECHNOLOGY,2017,9
5657,Company XYZ,2017-09-18 23:49:28,BLOM Weekday Prime,ISCICODE0015H,BLOM,95.37,-7,BLOOMBERG TECHNOLOGY,2017,9
5660,Company XYZ,2017-09-18 23:13:04,BLOM Weekday Prime,ISCICODE0015H,BLOM,95.37,11,BLOOMBERG TECHNOLOGY,2017,9
5663,Company XYZ,2017-09-18 22:20:00,BLOM Weekday Prime,ISCICODE0015H,BLOM,95.37,4,CHARLIE ROSE,2017,9
5665,Company XYZ,2017-09-18 21:57:54,BLOM Weekday Prime,ISCICODE0015H,BLOM,93.50,4,BLOOMBERG MARKETS: ASIA,2017,9
5669,Company XYZ,2017-09-18 21:22:58,BLOM Weekday Prime,ISCICODE0015H,BLOM,93.50,2,BLOOMBERG MARKETS: ASIA,2017,9
5673,Company XYZ,2017-09-18 20:43:47,BLOM Weekday Prime,ISCICODE0015H,BLOM,95.37,12,BLOOMBERG DAYBREAK: ASIA,2017,9
5678,Company XYZ,2017-09-18 19:59:55,BLOM Weekday Prime,ISCICODE0015H,BLOM,93.50,-11,BLOOMBERG DAYBREAK: ASIA,2017,9
5680,Company XYZ,2017-09-18 19:28:09,BLOM Weekday Prime,ISCICODE0015H,BLOM,91.63,12,BLOOMBERG DAYBREAK: ASIA,2017,9
5683,Company XYZ,2017-09-18 18:58:26,BLOM Weekday Prime,ISCICODE0015H,BLOM,95.37,4,CHARLIE ROSE,2017,9
5689,Company XYZ,2017-09-18 18:11:19,BLOM Weekday Prime,ISCICODE0015H,BLOM,93.50,2,CHARLIE ROSE,2017,9
5691,Company XYZ,2017-09-18 17:50:29,BLOM Weekday Prime,ISCICODE0015H,BLOM,93.50,53,BLOOMBERG TECHNOLOGY,2017,9
5692,Company XYZ,2017-09-18 17:12:50,BLOM Weekday Prime,ISCICODE0015H,BLOM,91.63,13,BLOOMBERG TECHNOLOGY,2017,9

In [390]:
class Final:
    
    def __init__(self, excel_file = None):
        self.excel_file = excel_file
        
    def read_excel(self):
        purchase_exit_survey_data_df = pd.read_excel(self.excel_file, sheet_name = 'Purchase Exit Survey Data', header=[0,1,2,3,4], index_col=[0,1])
        airings_df = pd.read_excel(self.excel_file, sheet_name = 'Airings')
        lookup_df = pd.read_excel(self.excel_file, sheet_name = 'Lookup',header=1)
        return purchase_exit_survey_data_df, airings_df, lookup_df
    
    def prepare_data(self):
        df1, df2, df3 = self.read_excel()
        
        # Preare df1/purchase_exit_survey_data_df for use
        
        # Reformat purchase_exit_survey_data_df
        df1 = df1.stack().stack().stack().stack()
        # Set Up Names inpurchase_exit_survey_data_df
        df1.index.set_names(['Campaign_Type','Network','Submitted_Application_Num','Month', 'Quarter','Year'],level=[0,1,2,3,4,5], inplace=True)
        # Reset index in purchase_exit_survey_data_df
        #return df1.reset_index()
        df1 = df1.reset_index()
        # Change last column name to Value in purchase_exit_survey_data_df
        df1 = df1.rename(columns={'Submitted Application Timestamp':'Value'})
        
        
        # Change Year to Int
        df1['Year'] = df['Year'].astype(int)
        
        # Change Month Column to Ints
        df1['Month'] = pd.to_datetime(df1.Month, format='%B').dt.month
        
        
        # Finalize purchase_exit_survey_data_df columns
        df1 = df1[['Network','Year','Quarter','Month','Submitted_Application_Num','Value']]
        
        # Prepare df2/airings_df for use
        
        # Change Date/Time ET Column Name to Datetime
        df2 = df2.rename(columns={'Date/Time ET': 'Datetime'})
        
        df2['Year'] = pd.DatetimeIndex(df2['Datetime']).year
        df2['Month'] = pd.DatetimeIndex(df2['Datetime']).month
        
        return df1, df2, df3

In [391]:
test = Final('Analyst_Dataset.xlsx')
df1, df2, df3  = test.prepare_data()

In [396]:
cpv_df1 = df1.groupby(['Year','Quarter','Month','Network'])['Value'].count()
cpv_df1 = cpv_df1.to_frame()
cpv_df1 = cpv_df1.reset_index()
cpv_df1 = cpv_df1.rename(columns = {'Value':'Visits'})
cpv_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Year     49 non-null     int64
 1   Quarter  49 non-null     object
 2   Month    49 non-null     int64
 3   Network  49 non-null     object
 4   Visits   49 non-null     int64
dtypes: int64(3), object(2)
memory usage: 2.0+ KB

In [397]:
cpv_df1

    Year Quarter  Month                   Network  Visits
0   2017  Q3      9      aapka_colors              1
1   2017  Q3      9      baby_first                1
2   2017  Q3      9      bloomberg                 1
3   2017  Q3      9      cbs_sports                1
4   2017  Q3      9      cnbc                      4
5   2017  Q3      9      cnn                       6
6   2017  Q3      9      dish_network              3
7   2017  Q3      9      diy                       2
8   2017  Q3      9      fox_news                  4
9   2017  Q3      9      fox_sports                1
10  2017  Q3      9      hgtv                      6
11  2017  Q3      9      msnbc                     7
12  2017  Q3      9      nfl_network               2
13  2017  Q3      9      one_america_news_network  2
14  2017  Q3      9      other                     5
15  2017  Q3      9      science                   1
16  2017  Q3      9      sony_entertainment_tv     2
17  2017  Q3      9      spectrum_sports           1
18  2017  Q3      9      star_plus                 2
19  2017  Q3      9      television_food_network   3
20  2017  Q3      9      the_history_channel       3
21  2017  Q3      9      turner_network_tv         2
22  2017  Q3      9      willow_tv                 14
23  2017  Q3      9      zeetv                     2
24  2017  Q4      10     (blank)                   3
25  2017  Q4      10     aapka_colors              4
26  2017  Q4      10     bloomberg                 1
27  2017  Q4      10     cnbc                      8
28  2017  Q4      10     cnn                       3
29  2017  Q4      10     comedy_central            2
30  2017  Q4      10     dateline                  5
31  2017  Q4      10     dish_network              1
32  2017  Q4      10     espn                      2
33  2017  Q4      10     fox_news                  6
34  2017  Q4      10     fox_sports                1
35  2017  Q4      10     fyi                       2
36  2017  Q4      10     msnbc                     5
37  2017  Q4      10     nfl_network               1
38  2017  Q4      10     one_america_news_network  12
39  2017  Q4      10     oprah_winfrey_network     1
40  2017  Q4      10     other                     6
41  2017  Q4      10     science                   3
42  2017  Q4      10     sony_entertainment_tv     2
43  2017  Q4      10     spectrum_sports           1
44  2017  Q4      10     star_plus                 2
45  2017  Q4      10     the_history_channel       1
46  2017  Q4      10     turner_network_tv         2
47  2017  Q4      10     willow_tv                 13
48  2017  Q4      10     zeetv                     3

In [392]:
df1.head()

        Network  Year Quarter  Month Submitted_Application_Num  Value
0  (blank)       2017  Q4      10     14                        1.0
1  (blank)       2017  Q4      10     29                        1.0
2  (blank)       2017  Q4      10     8                         1.0
3  aapka_colors  2017  Q4      10     1                         1.0
4  aapka_colors  2017  Q3      9      11                        1.0

In [393]:
cpv_df1 = df2.groupby(['Year','Month','Network'])['Spend','Lift'].sum()
cpv_df1 = cpv_df1.reset_index()
cpv_df1.info()

KeyError: 'Quarter'

In [362]:
cpv_df2 = df1.groupby(['Year','Month','Network'])['Value'].count()
cpv_df2 = cpv_df2.to_frame()
cpv_df2 = cpv_df2.reset_index()
cpv_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Year     49 non-null     int64
 1   Month    49 non-null     int64
 2   Network  49 non-null     object
 3   Value    49 non-null     int64
dtypes: int64(3), object(1)
memory usage: 1.7+ KB

In [293]:
cpv_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Year     28 non-null     int64
 1   Month    28 non-null     int64
 2   Network  28 non-null     object
 3   Spend    28 non-null     float64
 4   Lift     28 non-null     int64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.2+ KB

In [365]:
cpv_df1.head()

   Year  Month   Network    Spend  Lift
0  2017  9      BLOM      4966.72  199
1  2017  9      CNBC      6481.42  406
2  2017  9      CNN       9159.60  507
3  2017  9      DATELINE  4211.62  252
4  2017  9      DISH      2513.09  976

In [366]:
cpv_df2.head()

   Year  Month       Network  Value
0  2017  9      aapka_colors  1
1  2017  9      baby_first    1
2  2017  9      bloomberg     1
3  2017  9      cbs_sports    1
4  2017  9      cnbc          4

In [374]:
df3.head()

    Exit Survey Airings Exit Survey.1
0  (blank)       NaN     (blank)
1  aapka_colors  NaN     aapka_colors
2  baby_first    BABY    baby_first
3  bloomberg     BLOM    bloomberg
4  cbs_sports    CBSS    cbs_sports

In [400]:
new_df = pd.merge(cpv_df2, df3['Airings', 'Exit Survey'], left_on= ['Network'], right_on = ['Exit Survey'], how='left')
new_df.head()

KeyError: ('Airings', 'Exit Survey')

In [386]:
new_df = pd.merge(new_df, cpv_df1, left_on=['Year','Month','Airings'], right_on=['Year','Month','Network'],how='left')
new_df.head()

,Year,Month,Network_x,Value,Exit Survey,Airings,Exit Survey.1,Network_y,Spend,Lift
0,2017,9,aapka_colors,1,aapka_colors,NaN,aapka_colors,NaN,NaN,NaN
1,2017,9,baby_first,1,baby_first,BABY,baby_first,NaN,NaN,NaN
2,2017,9,bloomberg,1,bloomberg,BLOM,bloomberg,BLOM,4966.72,199.0
3,2017,9,cbs_sports,1,cbs_sports,CBSS,cbs_sports,NaN,NaN,NaN
4,2017,9,cnbc,4,cnbc,CNBC,cnbc,CNBC,6481.42,406.0

In [ ]:
new_df = new_df[[Year]]

In [ ]:
new_df = pd.merge(A_df, B_df,  how='left', left_on=['A_c1','c2'], right_on = ['B_c1','c2'])

In [364]:
cpv_df2.merge(cpv_df1, how='left', on= ['Year','Month', 'Network'])

    Year  Month                   Network  Value  Spend  Lift
0   2017  9      aapka_colors              1     NaN    NaN
1   2017  9      baby_first                1     NaN    NaN
2   2017  9      bloomberg                 1     NaN    NaN
3   2017  9      cbs_sports                1     NaN    NaN
4   2017  9      cnbc                      4     NaN    NaN
5   2017  9      cnn                       6     NaN    NaN
6   2017  9      dish_network              3     NaN    NaN
7   2017  9      diy                       2     NaN    NaN
8   2017  9      fox_news                  4     NaN    NaN
9   2017  9      fox_sports                1     NaN    NaN
10  2017  9      hgtv                      6     NaN    NaN
11  2017  9      msnbc                     7     NaN    NaN
12  2017  9      nfl_network               2     NaN    NaN
13  2017  9      one_america_news_network  2     NaN    NaN
14  2017  9      other                     5     NaN    NaN
15  2017  9      science                   1     NaN    NaN
16  2017  9      sony_entertainment_tv     2     NaN    NaN
17  2017  9      spectrum_sports           1     NaN    NaN
18  2017  9      star_plus                 2     NaN    NaN
19  2017  9      television_food_network   3     NaN    NaN
20  2017  9      the_history_channel       3     NaN    NaN
21  2017  9      turner_network_tv         2     NaN    NaN
22  2017  9      willow_tv                 14    NaN    NaN
23  2017  9      zeetv                     2     NaN    NaN
24  2017  10     (blank)                   3     NaN    NaN
25  2017  10     aapka_colors              4     NaN    NaN
26  2017  10     bloomberg                 1     NaN    NaN
27  2017  10     cnbc                      8     NaN    NaN
28  2017  10     cnn                       3     NaN    NaN
29  2017  10     comedy_central            2     NaN    NaN
30  2017  10     dateline                  5     NaN    NaN
31  2017  10     dish_network              1     NaN    NaN
32  2017  10     espn                      2     NaN    NaN
33  2017  10     fox_news                  6     NaN    NaN
34  2017  10     fox_sports                1     NaN    NaN
35  2017  10     fyi                       2     NaN    NaN
36  2017  10     msnbc                     5     NaN    NaN
37  2017  10     nfl_network               1     NaN    NaN
38  2017  10     one_america_news_network  12    NaN    NaN
39  2017  10     oprah_winfrey_network     1     NaN    NaN
40  2017  10     other                     6     NaN    NaN
41  2017  10     science                   3     NaN    NaN
42  2017  10     sony_entertainment_tv     2     NaN    NaN
43  2017  10     spectrum_sports           1     NaN    NaN
44  2017  10     star_plus                 2     NaN    NaN
45  2017  10     the_history_channel       1     NaN    NaN
46  2017  10     turner_network_tv         2     NaN    NaN
47  2017  10     willow_tv                 13    NaN    NaN
48  2017  10     zeetv                     3     NaN    NaN

In [267]:
df.groupby(['Year','Month','Network'])['Spend','Lift'].sum()

<ipython-input-267-d2dd875b0b8b>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby(['Year','Month','Network'])['Spend','Lift'].sum()

                         Spend  Lift
Year Month Network
2017 9     BLOM       4966.72   199
           CNBC       6481.42   406
           CNN        9159.60   507
           DATELINE   4211.62   252
           DISH       2513.09   976
           FS1        4258.50   183
           HIST       5778.30   253
           MSNB       8091.15   701
           NFLN       5412.80   200
           OANN       4966.80   648
           SCI        7993.18   132
           SPECSPTS   5580.26   220
           STARPLUS   3441.58   562
           TNT        5125.50   179
           WILO       19773.49  3138
           ZEETV      10175.13  922
     10    CNBCWORLD  1299.99   51
           CNN        8954.75   574
           COM        7501.25   108
           DATELINE   11076.49  610
           DISH       520.24    116
           HIST       1500.00   77
           MSNB       3238.89   422
           OANN       19968.20  1724
           STARPLUS   8338.98   1221
           TWC        7718.71   211
           WILO       27961.08  5076
           ZEETV      15429.12  819

In [180]:
df = pd.read_excel('Analyst_Dataset.xlsx', header=[0,1,2,3,4], index_col=[0,1])
#df = df.fillna(0)
df.head()

                           Submitted Application Timestamp                   \
                                                      2017
                                                        Q3
                                                 September
Source                                                   2    3   4   5   6
tv_commercial (blank)                                  NaN  NaN NaN NaN NaN
              aapka_colors                             NaN  NaN NaN NaN NaN
              baby_first                               NaN  NaN NaN NaN NaN
              bloomberg                                NaN  NaN NaN NaN NaN
              cbs_sports                               NaN  1.0 NaN NaN NaN

                                                                             \



Source                       7   8  10   11  12  13  14  15  16  17  18  19
tv_commercial (blank)      NaN NaN NaN  NaN NaN NaN NaN NaN NaN NaN NaN NaN
              aapka_colors NaN NaN NaN  1.0 NaN NaN NaN NaN NaN NaN NaN NaN
              baby_first   NaN NaN NaN  NaN NaN NaN NaN NaN NaN NaN NaN NaN
              bloomberg    NaN NaN NaN  1.0 NaN NaN NaN NaN NaN NaN NaN NaN
              cbs_sports   NaN NaN NaN  NaN NaN NaN NaN NaN NaN NaN NaN NaN

                                                                             \

                                                                         Q4
                                                                    October
Source                      21  22  23  24   25  26  27  28  29  30       1
tv_commercial (blank)      NaN NaN NaN NaN  NaN NaN NaN NaN NaN NaN     NaN
              aapka_colors NaN NaN NaN NaN  NaN NaN NaN NaN NaN NaN     1.0
              baby_first   NaN NaN NaN NaN  1.0 NaN NaN NaN NaN NaN     NaN
              bloomberg    NaN NaN NaN NaN  NaN NaN NaN NaN NaN NaN     NaN
              cbs_sports   NaN NaN NaN NaN  NaN NaN NaN NaN NaN NaN     NaN

                                                                           \



Source                        2   3   4   5   7    8   9  10   11  12  13
tv_commercial (blank)       NaN NaN NaN NaN NaN  1.0 NaN NaN  NaN NaN NaN
              aapka_colors  1.0 NaN NaN NaN NaN  NaN NaN NaN  NaN NaN NaN
              baby_first    NaN NaN NaN NaN NaN  NaN NaN NaN  NaN NaN NaN
              bloomberg     NaN NaN NaN NaN NaN  NaN NaN NaN  1.0 NaN NaN
              cbs_sports    NaN NaN NaN NaN NaN  NaN NaN NaN  NaN NaN NaN

                                                                               \



Source                       14  15   16  17  18  19  20  21  22   23  24  25
tv_commercial (blank)       1.0 NaN  NaN NaN NaN NaN NaN NaN NaN  NaN NaN NaN
              aapka_colors  NaN NaN  1.0 NaN NaN NaN NaN NaN NaN  2.0 NaN NaN
              baby_first    NaN NaN  NaN NaN NaN NaN NaN NaN NaN  NaN NaN NaN
              bloomberg     NaN NaN  NaN NaN NaN NaN NaN NaN NaN  NaN NaN NaN
              cbs_sports    NaN NaN  NaN NaN NaN NaN NaN NaN NaN  NaN NaN NaN





Source                      26  27  28   29  30
tv_commercial (blank)      NaN NaN NaN  1.0 NaN
              aapka_colors NaN NaN NaN  NaN NaN
              baby_first   NaN NaN NaN  NaN NaN
              bloomberg    NaN NaN NaN  NaN NaN
              cbs_sports   NaN NaN NaN  NaN NaN

In [181]:
df = df.stack().stack().stack().stack()
df.head()

                                                     Submitted Application Timestamp
                           Source
tv_commercial (blank)      14     October   Q4 2017                              1.0
                           29     October   Q4 2017                              1.0
                           8      October   Q4 2017                              1.0
              aapka_colors 1      October   Q4 2017                              1.0
                           11     September Q3 2017                              1.0

In [182]:
#df.index.set_names(['Year','hi'],level=[2,len(df.index.names)-2],inplace=True)
df.index.set_names(['Campaign_Type','TV_Network','Submitted_Application_Num','Month', 'Quarter','Year'],level=[0,1,2,3,4,5], inplace=True)
df = df.reset_index()
df = df.rename(columns={'Submitted Application Timestamp':'Value'})
df = df[['TV_Network','Year','Quarter','Month','Submitted_Application_Num','Value']]

In [183]:
df

,TV_Network,Year,Quarter,Month,Submitted_Application_Num,Value
0,(blank),2017,Q4,October,14,1.0
1,(blank),2017,Q4,October,29,1.0
2,(blank),2017,Q4,October,8,1.0
3,aapka_colors,2017,Q4,October,1,1.0
4,aapka_colors,2017,Q3,September,11,1.0
5,aapka_colors,2017,Q4,October,16,1.0
6,aapka_colors,2017,Q4,October,2,1.0
7,aapka_colors,2017,Q4,October,23,2.0
8,baby_first,2017,Q3,September,25,1.0
9,bloomberg,2017,Q4,October,11,1.0
10,bloomberg,2017,Q3,September,11,1.0
11,cbs_sports,2017,Q3,September,3,1.0
12,cnbc,2017,Q4,October,1,1.0
13,cnbc,2017,Q4,October,11,1.0
14,cnbc,2017,Q4,October,16,1.0
15,cnbc,2017,Q4,October,22,1.0
16,cnbc,2017,Q3,September,27,1.0
17,cnbc,2017,Q4,October,29,1.0
18,cnbc,2017,Q4,October,3,1.0
19,cnbc,2017,Q3,September,3,1.0
20,cnbc,2017,Q4,October,30,3.0
21,cnbc,2017,Q3,September,4,1.0
22,cnbc,2017,Q3,September,8,2.0
23,cnbc,2017,Q4,October,9,1.0
24,cnn,2017,Q3,September,14,1.0
25,cnn,2017,Q4,October,16,2.0
26,cnn,2017,Q4,October,19,6.0
27,cnn,2017,Q4,October,21,2.0
28,cnn,2017,Q3,September,26,1.0
29,cnn,2017,Q3,September,27,2.0
30,cnn,2017,Q3,September,4,3.0
31,cnn,2017,Q3,September,7,3.0
32,cnn,2017,Q3,September,8,3.0
33,comedy_central,2017,Q4,October,3,1.0
34,comedy_central,2017,Q4,October,5,1.0
35,dateline,2017,Q4,October,10,2.0
36,dateline,2017,Q4,October,25,2.0
37,dateline,2017,Q4,October,30,1.0
38,dateline,2017,Q4,October,4,4.0
39,dateline,2017,Q4,October,7,1.0
40,dish_network,2017,Q4,October,2,1.0
41,dish_network,2017,Q3,September,24,1.0
42,dish_network,2017,Q3,September,28,1.0
43,dish_network,2017,Q3,September,30,2.0
44,diy,2017,Q3,September,18,1.0
45,diy,2017,Q3,September,19,1.0
46,espn,2017,Q4,October,21,1.0
47,espn,2017,Q4,October,30,3.0
48,fox_news,2017,Q4,October,1,1.0
49,fox_news,2017,Q4,October,15,1.0
50,fox_news,2017,Q4,October,16,2.0
51,fox_news,2017,Q3,September,18,1.0
52,fox_news,2017,Q3,September,19,1.0
53,fox_news,2017,Q4,October,26,2.0
54,fox_news,2017,Q4,October,27,2.0
55,fox_news,2017,Q4,October,29,1.0
56,fox_news,2017,Q3,September,6,1.0
57,fox_news,2017,Q3,September,7,2.0
58,fox_sports,2017,Q4,October,22,1.0
59,fox_sports,2017,Q3,September,30,1.0
60,fyi,2017,Q4,October,11,1.0
61,fyi,2017,Q4,October,30,1.0
62,hgtv,2017,Q3,September,13,1.0
63,hgtv,2017,Q3,September,26,1.0
64,hgtv,2017,Q3,September,27,1.0
65,hgtv,2017,Q3,September,28,1.0
66,hgtv,2017,Q3,September,29,1.0
67,hgtv,2017,Q3,September,5,1.0
68,msnbc,2017,Q4,October,1,1.0
69,msnbc,2017,Q3,September,10,1.0
70,msnbc,2017,Q4,October,14,1.0
71,msnbc,2017,Q4,October,16,1.0
72,msnbc,2017,Q3,September,23,1.0
73,msnbc,2017,Q3,September,28,1.0
74,msnbc,2017,Q4,October,3,1.0
75,msnbc,2017,Q4,October,30,2.0
76,msnbc,2017,Q3,September,4,1.0
77,msnbc,2017,Q3,September,5,3.0
78,msnbc,2017,Q3,September,6,1.0
79,msnbc,2017,Q3,September,8,2.0
80,nfl_network,2017,Q3,September,16,1.0
81,nfl_network,2017,Q3,September,17,1.0
82,nfl_network,2017,Q4,October,30,1.0
83,one_america_news_network,2017,Q4,October,1,1.0
84,one_america_news_network,2017,Q4,October,10,1.0
85,one_america_news_network,2017,Q4,October,13,1.0
86,one_america_news_network,2017,Q3,September,13,1.0
87,one_america_news_network,2017,Q4,October,16,2.0
88,one_america_news_network,2017,Q3,September,16,1.0
89,one_america_news_network,2017,Q4,October,17,1.0
90,one_america_news_network,2017,Q4,October,18,1.0
91,one_america_news_network,2017,Q4,October,20,1.0
92,one_america_news_network,2017,Q4,October,22,2.0
93,one_america_news_network,2017,Q4,October,23,1.0
94,one_america_news_network,2017,Q4,October,24,1.0
95,one_america_news_network,2017,Q4,October,26,1.0
96,one_america_news_network,2017,Q4,October,7,1.0
97,oprah_winfrey_network,2017,Q4,October,4,1.0
98,other,2017,Q4,October,11,1.0
99,other,2017,Q3,September,13,1.0
100,other,2017,Q3,September,16,1.0
101,other,2017,Q4,October,2,1.0
102,other,2017,Q3,September,22,1.0
103,other,2017,Q4,October,28,2.0
104,other,2017,Q4,October,30,1.0
105,other,2017,Q4,October,4,1.0
106,other,2017,Q3,September,4,1.0
107,other,2017,Q3,September,6,1.0
108,other,2017,Q4,October,7,2.0
109,science,2017,Q4,October,1,1.0
110,science,2017,Q4,October,12,1.0
111,science,2017,Q3,September,2,1.0
112,science,2017,Q4,October,20,1.0
113,sony_entertainment_tv,2017,Q3,September,17,1.0
114,sony_entertainment_tv,2017,Q4,October,27,1.0
115,sony_entertainment_tv,2017,Q3,September,27,1.0
116,sony_entertainment_tv,2017,Q4,October,9,1.0
117,spectrum_sports,2017,Q4,October,5,1.0
118,spectrum_sports,2017,Q3,September,6,2.0
119,star_plus,2017,Q4,October,11,1.0
120,star_plus,2017,Q4,October,30,1.0
121,star_plus,2017,Q3,September,5,1.0
122,star_plus,2017,Q3,September,6,1.0
123,television_food_network,2017,Q3,September,14,2.0
124,television_food_network,2017,Q3,September,2,1.0
125,television_food_network,2017,Q3,September,7,1.0
126,the_history_channel,2017,Q3,September,21,1.0
127,the_history_channel,2017,Q3,September,27,1.0
128,the_history_channel,2017,Q3,September,28,2.0
129,the_history_channel,2017,Q4,October,7,1.0
130,turner_network_tv,2017,Q4,October,10,1.0
131,turner_network_tv,2017,Q3,September,13,1.0
132,turner_network_tv,2017,Q3,September,15,1.0
133,turner_network_tv,2017,Q4,October,5,1.0
134,willow_tv,2017,Q4,October,1,2.0
135,willow_tv,2017,Q4,October,11,1.0
136,willow_tv,2017,Q3,September,12,1.0
137,willow_tv,2017,Q3,September,15,1.0
138,willow_tv,2017,Q4,October,16,1.0
139,willow_tv,2017,Q3,September,16,2.0
140,willow_tv,2017,Q3,September,17,3.0
141,willow_tv,2017,Q4,October,18,1.0
142,willow_tv,2017,Q4,October,22,1.0
143,willow_tv,2017,Q3,September,22,1.0
144,willow_tv,2017,Q4,October,23,1.0
145,willow_tv,2017,Q4,October,24,1.0
146,willow_tv,2017,Q3,September,24,7.0
147,willow_tv,2017,Q4,October,25,2.0
148,willow_tv,2017,Q3,September,25,1.0
149,willow_tv,2017,Q3,September,26,1.0
150,willow_tv,2017,Q4,October,28,3.0
151,willow_tv,2017,Q3,September,28,1.0
152,willow_tv,2017,Q4,October,29,9.0
153,willow_tv,2017,Q3,September,29,1.0
154,willow_tv,2017,Q4,October,3,1.0
155,willow_tv,2017,Q3,September,3,4.0
156,willow_tv,2017,Q4,October,4,3.0
157,willow_tv,2017,Q3,September,4,2.0
158,willow_tv,2017,Q3,September,6,1.0
159,willow_tv,2017,Q4,October,7,3.0
160,willow_tv,2017,Q3,September,7,1.0
161,zeetv,2017,Q4,October,10,1.0
162,zeetv,2017,Q3,September,11,1.0
163,zeetv,2017,Q4,October,21,1.0
164,zeetv,2017,Q3,September,24,1.0
165,zeetv,2017,Q4,October,30,1.0

In [192]:
class GetData(object):
    
    def __init__(self):
        pass
    
    def read_excel(self, excel_file):
        purchase_exit_survey_data_df = pd.read_excel(excel_file, sheet_name = 'Purchase Exit Survey Data', header=[0,1,2,3,4], index_col=[0,1])
        return purchase_exit_survey_data_df
    
    def clean_purchase_exit_survey_data(self, df):
        return df
    
    def prepare_data(self, excel_file):
        purchase_exit_survey_data_df = read_excel(excel_file)
        clean_purchase_exit_survey_data(df)

In [193]:
x = GetData()

In [194]:
x.prepare_data('Analyst_Dataset.xlsx')

NameError: name 'read_excel' is not defined

In [230]:
class Final:
    
    def __init__(self, excel_file = None):
        self.excel_file
    
    def read_excel(self, excel_file):
        purchase_exit_survey_data_df = pd.read_excel(excel_file, sheet_name = 'Purchase Exit Survey Data', header=[0,1,2,3,4], index_col=[0,1])
        airings_df = pd.read_excel('Analyst_Dataset.xlsx', sheet_name = 'Airings')
        lookup_df = pd.read_excel('Analyst_Dataset.xlsx', sheet_name = 'Lookup',header=1)
        return purchase_exit_survey_data_df, airings_df, lookup_df
    
    def clean_purchase_exit_survey_data(self, excel_file):
        df1, df2, df3 = read_excel(excel_file)
        #df1 = df1.stack().stack().stack().stack()
        #df1.index.set_names(['Campaign_Type','TV_Network','Submitted_Application_Num','Month', 'Quarter','Year'],level=[0,1,2,3,4,5], inplace=True)
        #df1 = df1.reset_index()
        #df1 = df1.rename(columns={'Submitted Application Timestamp':'Value'})
        #df1 = df1[['TV_Network','Year','Quarter','Month','Submitted_Application_Num','Value']]
        return 'hi'

In [231]:
report = Final()

AttributeError: 'Final' object has no attribute 'excel_file'

In [229]:
clean_purchase_exit_survey_data('Analyst_Dataset.xlsx')

                                       Submitted Application Timestamp       \
                                                                  2017
                                                                    Q3
                                                             September
Source                                                               2    3
tv_commercial (blank)                                              NaN  NaN
              aapka_colors                                         NaN  NaN
              baby_first                                           NaN  NaN
              bloomberg                                            NaN  NaN
              cbs_sports                                           NaN  1.0
              cnbc                                                 NaN  1.0
              cnn                                                  NaN  NaN
              comedy_central                                       NaN  NaN
              dateline                                             NaN  NaN
              dish_network                                         NaN  NaN
              diy                                                  NaN  NaN
              espn                                                 NaN  NaN
              fox_news                                             NaN  NaN
              fox_sports                                           NaN  NaN
              fyi                                                  NaN  NaN
              hgtv                                                 NaN  NaN
              msnbc                                                NaN  NaN
              nfl_network                                          NaN  NaN
              one_america_news_network                             NaN  NaN
              oprah_winfrey_network                                NaN  NaN
              other                                                NaN  NaN
              science                                              1.0  NaN
              sony_entertainment_tv                                NaN  NaN
              spectrum_sports                                      NaN  NaN
              star_plus                                            NaN  NaN
              television_food_network                              1.0  NaN
              the_history_channel                                  NaN  NaN
              turner_network_tv                                    NaN  NaN
              willow_tv                                            NaN  4.0
              zeetv                                                NaN  NaN

                                                                           \



Source                                    4    5    6    7    8   10   11
tv_commercial (blank)                   NaN  NaN  NaN  NaN  NaN  NaN  NaN
              aapka_colors              NaN  NaN  NaN  NaN  NaN  NaN  1.0
              baby_first                NaN  NaN  NaN  NaN  NaN  NaN  NaN
              bloomberg                 NaN  NaN  NaN  NaN  NaN  NaN  1.0
              cbs_sports                NaN  NaN  NaN  NaN  NaN  NaN  NaN
              cnbc                      1.0  NaN  NaN  NaN  2.0  NaN  NaN
              cnn                       3.0  NaN  NaN  3.0  3.0  NaN  NaN
              comedy_central            NaN  NaN  NaN  NaN  NaN  NaN  NaN
              dateline                  NaN  NaN  NaN  NaN  NaN  NaN  NaN
              dish_network              NaN  NaN  NaN  NaN  NaN  NaN  NaN
              diy                       NaN  NaN  NaN  NaN  NaN  NaN  NaN
              espn                      NaN  NaN  NaN  NaN  NaN  NaN  NaN
              fox_news                  NaN  NaN  1.0  2.0  NaN  NaN  NaN
              fox_sports                NaN  NaN  NaN  NaN  NaN  NaN  NaN
              fyi                       NaN  NaN  NaN  NaN  NaN  NaN  NaN
              hgtv                      NaN  1.0  NaN  NaN  NaN  NaN  NaN
              msnbc                     1.0  3.0  1.0  NaN  2.0  1.0  NaN
              nfl_network               NaN  NaN  NaN  NaN  NaN  NaN  NaN
              one_america_news_network  NaN  NaN  NaN  NaN  NaN  NaN  NaN
              oprah_winfrey_network     NaN  NaN  NaN  NaN  NaN  NaN  NaN
              other                     1.0  NaN  1.0  NaN  NaN  NaN  NaN
              science                   NaN  NaN  NaN  NaN  NaN  NaN  NaN
              sony_entertainment_tv     NaN  NaN  NaN  NaN  NaN  NaN  NaN
              spectrum_sports           NaN  NaN  2.0  NaN  NaN  NaN  NaN
              star_plus                 NaN  1.0  1.0  NaN  NaN  NaN  NaN
              television_food_network   NaN  NaN  NaN  1.0  NaN  NaN  NaN
              the_history_channel       NaN  NaN  NaN  NaN  NaN  NaN  NaN
              turner_network_tv         NaN  NaN  NaN  NaN  NaN  NaN  NaN
              willow_tv                 2.0  NaN  1.0  1.0  NaN  NaN  NaN
              zeetv                     NaN  NaN  NaN  NaN  NaN  NaN  1.0

                                                                           \



Source                                   12   13   14   15   16   17   18
tv_commercial (blank)                   NaN  NaN  NaN  NaN  NaN  NaN  NaN
              aapka_colors              NaN  NaN  NaN  NaN  NaN  NaN  NaN
              baby_first                NaN  NaN  NaN  NaN  NaN  NaN  NaN
              bloomberg                 NaN  NaN  NaN  NaN  NaN  NaN  NaN
              cbs_sports                NaN  NaN  NaN  NaN  NaN  NaN  NaN
              cnbc                      NaN  NaN  NaN  NaN  NaN  NaN  NaN
              cnn                       NaN  NaN  1.0  NaN  NaN  NaN  NaN
              comedy_central            NaN  NaN  NaN  NaN  NaN  NaN  NaN
              dateline                  NaN  NaN  NaN  NaN  NaN  NaN  NaN
              dish_network              NaN  NaN  NaN  NaN  NaN  NaN  NaN
              diy                       NaN  NaN  NaN  NaN  NaN  NaN  1.0
              espn                      NaN  NaN  NaN  NaN  NaN  NaN  NaN
              fox_news                  NaN  NaN  NaN  NaN  NaN  NaN  1.0
              fox_sports                NaN  NaN  NaN  NaN  NaN  NaN  NaN
              fyi                       NaN  NaN  NaN  NaN  NaN  NaN  NaN
              hgtv                      NaN  1.0  NaN  NaN  NaN  NaN  NaN
              msnbc                     NaN  NaN  NaN  NaN  NaN  NaN  NaN
              nfl_network               NaN  NaN  NaN  NaN  1.0  1.0  NaN
              one_america_news_network  NaN  1.0  NaN  NaN  1.0  NaN  NaN
              oprah_winfrey_network     NaN  NaN  NaN  NaN  NaN  NaN  NaN
              other                     NaN  1.0  NaN  NaN  1.0  NaN  NaN
              science                   NaN  NaN  NaN  NaN  NaN  NaN  NaN
              sony_entertainment_tv     NaN  NaN  NaN  NaN  NaN  1.0  NaN
              spectrum_sports           NaN  NaN  NaN  NaN  NaN  NaN  NaN
              star_plus                 NaN  NaN  NaN  NaN  NaN  NaN  NaN
              television_food_network   NaN  NaN  2.0  NaN  NaN  NaN  NaN
              the_history_channel       NaN  NaN  NaN  NaN  NaN  NaN  NaN
              turner_network_tv         NaN  1.0  NaN  1.0  NaN  NaN  NaN
              willow_tv                 1.0  NaN  NaN  1.0  2.0  3.0  NaN
              zeetv                     NaN  NaN  NaN  NaN  NaN  NaN  NaN

                                                                           \



Source                                   19   21   22   23   24   25   26
tv_commercial (blank)                   NaN  NaN  NaN  NaN  NaN  NaN  NaN
              aapka_colors              NaN  NaN  NaN  NaN  NaN  NaN  NaN
              baby_first                NaN  NaN  NaN  NaN  NaN  1.0  NaN
              bloomberg                 NaN  NaN  NaN  NaN  NaN  NaN  NaN
              cbs_sports                NaN  NaN  NaN  NaN  NaN  NaN  NaN
              cnbc                      NaN  NaN  NaN  NaN  NaN  NaN  NaN
              cnn                       NaN  NaN  NaN  NaN  NaN  NaN  1.0
              comedy_central            NaN  NaN  NaN  NaN  NaN  NaN  NaN
              dateline                  NaN  NaN  NaN  NaN  NaN  NaN  NaN
              dish_network              NaN  NaN  NaN  NaN  1.0  NaN  NaN
              diy                       1.0  NaN  NaN  NaN  NaN  NaN  NaN
              espn                      NaN  NaN  NaN  NaN  NaN  NaN  NaN
              fox_news                  1.0  NaN  NaN  NaN  NaN  NaN  NaN
              fox_sports                NaN  NaN  NaN  NaN  NaN  NaN  NaN
              fyi                       NaN  NaN  NaN  NaN  NaN  NaN  NaN
              hgtv                      NaN  NaN  NaN  NaN  NaN  NaN  1.0
              msnbc                     NaN  NaN  NaN  1.0  NaN  NaN  NaN
              nfl_network               NaN  NaN  NaN  NaN  NaN  NaN  NaN
              one_america_news_network  NaN  NaN  NaN  NaN  NaN  NaN  NaN
              oprah_winfrey_network     NaN  NaN  NaN  NaN  NaN  NaN  NaN
              other                     NaN  NaN  1.0  NaN  NaN  NaN  NaN
              science                   NaN  NaN  NaN  NaN  NaN  NaN  NaN
              sony_entertainment_tv     NaN  NaN  NaN  NaN  NaN  NaN  NaN
              spectrum_sports           NaN  NaN  NaN  NaN  NaN  NaN  NaN
              star_plus                 NaN  NaN  NaN  NaN  NaN  NaN  NaN
              television_food_network   NaN  NaN  NaN  NaN  NaN  NaN  NaN
              the_history_channel       NaN  1.0  NaN  NaN  NaN  NaN  NaN
              turner_network_tv         NaN  NaN  NaN  NaN  NaN  NaN  NaN
              willow_tv                 NaN  NaN  1.0  NaN  7.0  1.0  1.0
              zeetv                     NaN  NaN  NaN  NaN  1.0  NaN  NaN

                                                                              \

                                                                Q4
                                                           October
Source                                   27   28   29   30       1    2    3
tv_commercial (blank)                   NaN  NaN  NaN  NaN     NaN  NaN  NaN
              aapka_colors              NaN  NaN  NaN  NaN     1.0  1.0  NaN
              baby_first                NaN  NaN  NaN  NaN     NaN  NaN  NaN
              bloomberg                 NaN  NaN  NaN  NaN     NaN  NaN  NaN
              cbs_sports                NaN  NaN  NaN  NaN     NaN  NaN  NaN
              cnbc                      1.0  NaN  NaN  NaN     1.0  NaN  1.0
              cnn                       2.0  NaN  NaN  NaN     NaN  NaN  NaN
              comedy_central            NaN  NaN  NaN  NaN     NaN  NaN  1.0
              dateline                  NaN  NaN  NaN  NaN     NaN  NaN  NaN
              dish_network              NaN  1.0  NaN  2.0     NaN  1.0  NaN
              diy                       NaN  NaN  NaN  NaN     NaN  NaN  NaN
              espn                      NaN  NaN  NaN  NaN     NaN  NaN  NaN
              fox_news                  NaN  NaN  NaN  NaN     1.0  NaN  NaN
              fox_sports                NaN  NaN  NaN  1.0     NaN  NaN  NaN
              fyi                       NaN  NaN  NaN  NaN     NaN  NaN  NaN
              hgtv                      1.0  1.0  1.0  NaN     NaN  NaN  NaN
              msnbc                     NaN  1.0  NaN  NaN     1.0  NaN  1.0
              nfl_network               NaN  NaN  NaN  NaN     NaN  NaN  NaN
              one_america_news_network  NaN  NaN  NaN  NaN     1.0  NaN  NaN
              oprah_winfrey_network     NaN  NaN  NaN  NaN     NaN  NaN  NaN
              other                     NaN  NaN  NaN  NaN     NaN  1.0  NaN
              science                   NaN  NaN  NaN  NaN     1.0  NaN  NaN
              sony_entertainment_tv     1.0  NaN  NaN  NaN     NaN  NaN  NaN
              spectrum_sports           NaN  NaN  NaN  NaN     NaN  NaN  NaN
              star_plus                 NaN  NaN  NaN  NaN     NaN  NaN  NaN
              television_food_network   NaN  NaN  NaN  NaN     NaN  NaN  NaN
              the_history_channel       1.0  2.0  NaN  NaN     NaN  NaN  NaN
              turner_network_tv         NaN  NaN  NaN  NaN     NaN  NaN  NaN
              willow_tv                 NaN  1.0  1.0  NaN     2.0  NaN  1.0
              zeetv                     NaN  NaN  NaN  NaN     NaN  NaN  NaN

                                                                           \



Source                                    4    5    7    8    9   10   11
tv_commercial (blank)                   NaN  NaN  NaN  1.0  NaN  NaN  NaN
              aapka_colors              NaN  NaN  NaN  NaN  NaN  NaN  NaN
              baby_first                NaN  NaN  NaN  NaN  NaN  NaN  NaN
              bloomberg                 NaN  NaN  NaN  NaN  NaN  NaN  1.0
              cbs_sports                NaN  NaN  NaN  NaN  NaN  NaN  NaN
              cnbc                      NaN  NaN  NaN  NaN  1.0  NaN  1.0
              cnn                       NaN  NaN  NaN  NaN  NaN  NaN  NaN
              comedy_central            NaN  1.0  NaN  NaN  NaN  NaN  NaN
              dateline                  4.0  NaN  1.0  NaN  NaN  2.0  NaN
              dish_network              NaN  NaN  NaN  NaN  NaN  NaN  NaN
              diy                       NaN  NaN  NaN  NaN  NaN  NaN  NaN
              espn                      NaN  NaN  NaN  NaN  NaN  NaN  NaN
              fox_news                  NaN  NaN  NaN  NaN  NaN  NaN  NaN
              fox_sports                NaN  NaN  NaN  NaN  NaN  NaN  NaN
              fyi                       NaN  NaN  NaN  NaN  NaN  NaN  1.0
              hgtv                      NaN  NaN  NaN  NaN  NaN  NaN  NaN
              msnbc                     NaN  NaN  NaN  NaN  NaN  NaN  NaN
              nfl_network               NaN  NaN  NaN  NaN  NaN  NaN  NaN
              one_america_news_network  NaN  NaN  1.0  NaN  NaN  1.0  NaN
              oprah_winfrey_network     1.0  NaN  NaN  NaN  NaN  NaN  NaN
              other                     1.0  NaN  2.0  NaN  NaN  NaN  1.0
              science                   NaN  NaN  NaN  NaN  NaN  NaN  NaN
              sony_entertainment_tv     NaN  NaN  NaN  NaN  1.0  NaN  NaN
              spectrum_sports           NaN  1.0  NaN  NaN  NaN  NaN  NaN
              star_plus                 NaN  NaN  NaN  NaN  NaN  NaN  1.0
              television_food_network   NaN  NaN  NaN  NaN  NaN  NaN  NaN
              the_history_channel       NaN  NaN  1.0  NaN  NaN  NaN  NaN
              turner_network_tv         NaN  1.0  NaN  NaN  NaN  1.0  NaN
              willow_tv                 3.0  NaN  3.0  NaN  NaN  NaN  1.0
              zeetv                     NaN  NaN  NaN  NaN  NaN  1.0  NaN

                                                                           \



Source                                   12   13   14   15   16   17   18
tv_commercial (blank)                   NaN  NaN  1.0  NaN  NaN  NaN  NaN
              aapka_colors              NaN  NaN  NaN  NaN  1.0  NaN  NaN
              baby_first                NaN  NaN  NaN  NaN  NaN  NaN  NaN
              bloomberg                 NaN  NaN  NaN  NaN  NaN  NaN  NaN
              cbs_sports                NaN  NaN  NaN  NaN  NaN  NaN  NaN
              cnbc                      NaN  NaN  NaN  NaN  1.0  NaN  NaN
              cnn                       NaN  NaN  NaN  NaN  2.0  NaN  NaN
              comedy_central            NaN  NaN  NaN  NaN  NaN  NaN  NaN
              dateline                  NaN  NaN  NaN  NaN  NaN  NaN  NaN
              dish_network              NaN  NaN  NaN  NaN  NaN  NaN  NaN
              diy                       NaN  NaN  NaN  NaN  NaN  NaN  NaN
              espn                      NaN  NaN  NaN  NaN  NaN  NaN  NaN
              fox_news                  NaN  NaN  NaN  1.0  2.0  NaN  NaN
              fox_sports                NaN  NaN  NaN  NaN  NaN  NaN  NaN
              fyi                       NaN  NaN  NaN  NaN  NaN  NaN  NaN
              hgtv                      NaN  NaN  NaN  NaN  NaN  NaN  NaN
              msnbc                     NaN  NaN  1.0  NaN  1.0  NaN  NaN
              nfl_network               NaN  NaN  NaN  NaN  NaN  NaN  NaN
              one_america_news_network  NaN  1.0  NaN  NaN  2.0  1.0  1.0
              oprah_winfrey_network     NaN  NaN  NaN  NaN  NaN  NaN  NaN
              other                     NaN  NaN  NaN  NaN  NaN  NaN  NaN
              science                   1.0  NaN  NaN  NaN  NaN  NaN  NaN
              sony_entertainment_tv     NaN  NaN  NaN  NaN  NaN  NaN  NaN
              spectrum_sports           NaN  NaN  NaN  NaN  NaN  NaN  NaN
              star_plus                 NaN  NaN  NaN  NaN  NaN  NaN  NaN
              television_food_network   NaN  NaN  NaN  NaN  NaN  NaN  NaN
              the_history_channel       NaN  NaN  NaN  NaN  NaN  NaN  NaN
              turner_network_tv         NaN  NaN  NaN  NaN  NaN  NaN  NaN
              willow_tv                 NaN  NaN  NaN  NaN  1.0  NaN  1.0
              zeetv                     NaN  NaN  NaN  NaN  NaN  NaN  NaN

                                                                           \



Source                                   19   20   21   22   23   24   25
tv_commercial (blank)                   NaN  NaN  NaN  NaN  NaN  NaN  NaN
              aapka_colors              NaN  NaN  NaN  NaN  2.0  NaN  NaN
              baby_first                NaN  NaN  NaN  NaN  NaN  NaN  NaN
              bloomberg                 NaN  NaN  NaN  NaN  NaN  NaN  NaN
              cbs_sports                NaN  NaN  NaN  NaN  NaN  NaN  NaN
              cnbc                      NaN  NaN  NaN  1.0  NaN  NaN  NaN
              cnn                       6.0  NaN  2.0  NaN  NaN  NaN  NaN
              comedy_central            NaN  NaN  NaN  NaN  NaN  NaN  NaN
              dateline                  NaN  NaN  NaN  NaN  NaN  NaN  2.0
              dish_network              NaN  NaN  NaN  NaN  NaN  NaN  NaN
              diy                       NaN  NaN  NaN  NaN  NaN  NaN  NaN
              espn                      NaN  NaN  1.0  NaN  NaN  NaN  NaN
              fox_news                  NaN  NaN  NaN  NaN  NaN  NaN  NaN
              fox_sports                NaN  NaN  NaN  1.0  NaN  NaN  NaN
              fyi                       NaN  NaN  NaN  NaN  NaN  NaN  NaN
              hgtv                      NaN  NaN  NaN  NaN  NaN  NaN  NaN
              msnbc                     NaN  NaN  NaN  NaN  NaN  NaN  NaN
              nfl_network               NaN  NaN  NaN  NaN  NaN  NaN  NaN
              one_america_news_network  NaN  1.0  NaN  2.0  1.0  1.0  NaN
              oprah_winfrey_network     NaN  NaN  NaN  NaN  NaN  NaN  NaN
              other                     NaN  NaN  NaN  NaN  NaN  NaN  NaN
              science                   NaN  1.0  NaN  NaN  NaN  NaN  NaN
              sony_entertainment_tv     NaN  NaN  NaN  NaN  NaN  NaN  NaN
              spectrum_sports           NaN  NaN  NaN  NaN  NaN  NaN  NaN
              star_plus                 NaN  NaN  NaN  NaN  NaN  NaN  NaN
              television_food_network   NaN  NaN  NaN  NaN  NaN  NaN  NaN
              the_history_channel       NaN  NaN  NaN  NaN  NaN  NaN  NaN
              turner_network_tv         NaN  NaN  NaN  NaN  NaN  NaN  NaN
              willow_tv                 NaN  NaN  NaN  1.0  1.0  1.0  2.0
              zeetv                     NaN  NaN  1.0  NaN  NaN  NaN  NaN





Source                                   26   27   28   29   30
tv_commercial (blank)                   NaN  NaN  NaN  1.0  NaN
              aapka_colors              NaN  NaN  NaN  NaN  NaN
              baby_first                NaN  NaN  NaN  NaN  NaN
              bloomberg                 NaN  NaN  NaN  NaN  NaN
              cbs_sports                NaN  NaN  NaN  NaN  NaN
              cnbc                      NaN  NaN  NaN  1.0  3.0

In [195]:
#df = pd.read_excel('Analyst_Dataset.xlsx', sheet_name = 'Purchase Exit Survey Data', header=[0,1,2,3,4], index_col=[0,1])

In [206]:
df = pd.read_excel('Analyst_Dataset.xlsx', sheet_name = 'Lookup',header=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Exit Survey    43 non-null     object
 1   Airings        38 non-null     object
 2   Exit Survey.1  43 non-null     object
dtypes: object(3)
memory usage: 1.2+ KB

In [207]:
df.head()

    Exit Survey Airings Exit Survey.1
0       (blank)     NaN       (blank)
1  aapka_colors     NaN  aapka_colors
2    baby_first    BABY    baby_first
3     bloomberg    BLOM     bloomberg
4    cbs_sports    CBSS    cbs_sports

In [203]:
df.stack()

0   Lookup table for survey response field to airings network ticker symbol                 Exit Survey
    Unnamed: 1                                                                                  Airings
    Unnamed: 2                                                                              Exit Survey
1   Lookup table for survey response field to airings network ticker symbol                     (blank)
    Unnamed: 2                                                                                  (blank)
2   Lookup table for survey response field to airings network ticker symbol                aapka_colors
    Unnamed: 2                                                                             aapka_colors
3   Lookup table for survey response field to airings network ticker symbol                  baby_first
    Unnamed: 1                                                                                     BABY
    Unnamed: 2                                                                               baby_first
4   Lookup table for survey response field to airings network ticker symbol                   bloomberg
    Unnamed: 1                                                                                     BLOM
    Unnamed: 2                                                                                bloomberg
5   Lookup table for survey response field to airings network ticker symbol                  cbs_sports
    Unnamed: 1                                                                                     CBSS
    Unnamed: 2                                                                               cbs_sports
6   Lookup table for survey response field to airings network ticker symbol                        cnbc
    Unnamed: 1                                                                                     CNBC
    Unnamed: 2                                                                                     cnbc
7   Lookup table for survey response field to airings network ticker symbol                         cnn
    Unnamed: 1                                                                                      CNN
    Unnamed: 2                                                                                      cnn
8   Lookup table for survey response field to airings network ticker symbol              comedy_central
    Unnamed: 1                                                                                      COM
    Unnamed: 2                                                                           comedy_central
9   Lookup table for survey response field to airings network ticker symbol                        cozi
    Unnamed: 1                                                                                     COZI
    Unnamed: 2                                                                                     cozi
10  Lookup table for survey response field to airings network ticker symbol                    Dateline
    Unnamed: 1                                                                                 DATELINE
    Unnamed: 2                                                                                 Dateline
11  Lookup table for survey response field to airings network ticker symbol                dish_network
    Unnamed: 1                                                                                     DISH
    Unnamed: 2                                                                             dish_network
12  Lookup table for survey response field to airings network ticker symbol                         diy
    Unnamed: 2                                                                                      diy
13  Lookup table for survey response field to airings network ticker symbol                        espn
    Unnamed: 1                                                                                      ENN
    Unnamed: 2                                                                                     espn
14  Lookup table for survey response field to airings network ticker symbol                    fox_news
    Unnamed: 1                                                                                     FNEW
    Unnamed: 2                                                                                 fox_news
15  Lookup table for survey response field to airings network ticker symbol                  fox_sports
    Unnamed: 1                                                                                      FS1
    Unnamed: 2                                                                               fox_sports
16  Lookup table for survey response field to airings network ticker symbol                         fyi
    Unnamed: 1                                                                                      FYI
    Unnamed: 2                                                                                      fyi
17  Lookup table for survey response field to airings network ticker symbol                        hgtv
    Unnamed: 1                                                                                     HGTV
    Unnamed: 2                                                                                     hgtv
18  Lookup table for survey response field to airings network ticker symbol      lifetime_movie_network
    Unnamed: 1                                                                                      LMN
    Unnamed: 2                                                                   lifetime_movie_network
19  Lookup table for survey response field to airings network ticker symbol                       msnbc
    Unnamed: 1                                                                                     MSNB
    Unnamed: 2                                                                                    msnbc
20  Lookup table for survey response field to airings network ticker symbol                 nfl_network
    Unnamed: 1                                                                                     NFLN
    Unnamed: 2                                                                              nfl_network
22  Lookup table for survey response field to airings network ticker symbol    one_america_news_network
    Unnamed: 1                                                                                     OANN
    Unnamed: 2                                                                 one_america_news_network
23  Lookup table for survey response field to airings network ticker symbol       oprah_winfrey_network
    Unnamed: 1                                                                                      OWN
    Unnamed: 2                                                                    oprah_winfrey_network
24  Lookup table for survey response field to airings network ticker symbol                       other
    Unnamed: 2                                                                                    other
25  Lookup table for survey response field to airings network ticker symbol                     science
    Unnamed: 1                                                                                      SCI
    Unnamed: 2                                                                                  science
26  Lookup table for survey response field to airings network ticker symbol       sony_entertainment_tv
    Unnamed: 2                                                                    sony_entertainment_tv
27  Lookup table for survey response field to airings network ticker symbol             spectrum_sports
    Unnamed: 1                                                                                 SPECSPTS
    Unnamed: 2                                                                          spectrum_sports
28  Lookup table for survey response field to airings network ticker symbol                       spike
    Unnamed: 1                                                                                      SPK
    Unnamed: 2                                                                                    spike
29  Lookup table for survey response field to airings network ticker symbol                   star_plus
    Unnamed: 1                                                                                 STARPLUS
    Unnamed: 2                                                                                star_plus
30  Lookup table for survey response field to airings network ticker symbol            sundance_channel
    Unnamed: 1                                                                                     SUND
    Unnamed: 2                                                                         sundance_channel
31  Lookup table for survey response field to airings network ticker symbol     television_food_network
    Unnamed: 1                                                                                     FOOD
    Unnamed: 2                                                                  television_food_network
32  Lookup table for survey response field to airings network ticker symbol         the_cooking_channel
    Unnamed: 1                                                                                     COOK
    Unnamed: 2                                                                      the_cooking_channel
33  Lookup table for survey response field to airings network ticker symbol         the_history_channel
    Unnamed: 1                                                                                     HIST
    Unnamed: 2                                                                      the_history_channel
34  Lookup table for survey response field to airings network ticker symbol         the_weather_channel
    Unnamed: 1                                                                                      TWC
    Unnamed: 2                                                                      the_weather_channel
35  Lookup table for survey response field to airings network ticker symbol           turner_network_tv
    Unnamed: 1                                                                                      TNT
    Unnamed: 2                                                                        turner_network_tv
36  Lookup table for survey response field to airings network ticker symbol                   willow_tv
    Unnamed: 1                                                                                     WILO
    Unnamed: 2                                                                                willow_tv
37  Lookup table for survey response field to airings network ticker symbol                       zeetv
    Unnamed: 1                                                                                    ZEETV
    Unnamed: 2                                                                                    zeetv
38  Lookup table for survey response field to airings network ticker symbol                    Velocity
    Unnamed: 1                                                                                      VEL
    Unnamed: 2                                                                                 Velocity
39  Lookup table for survey response field to airings network ticker symbol     Investigation Discovery
    Unnamed: 1                                                                                       ID
    Unnamed: 2                                                                  Investigation Discovery
40  Lookup table for survey response field to airings network ticker symbol                    Viceland
    Unnamed: 1                                                                                     VICE
    Unnamed: 2                                                                                 Viceland
41  Lookup table for survey response field to airings network ticker symbol         Destination America
    Unnamed: 1                                                                                     DEST
    Unnamed: 2                                                                      Destination America
42  Lookup table for survey response field to airings network ticker symbol                        Golf
    Unnamed: 1                                                                                     GOLF
    Unnamed: 2                                                                                     Golf
43  Lookup table for survey response field to airings network ticker symbol                      Tennis
    Unnamed: 1                                                                                     TENN
    Unnamed: 2                                                                                   Tennis
44  Lookup table for survey response field to airings network ticker symbol                  CNBC World
    Unnamed: 1                                                                                CNBCWORLD
    Unnamed: 2                                                                               CNBC World
dtype: object

In [67]:
df.melt()

                            variable  value
0    Submitted Application Timestamp    1.0
1    Submitted Application Timestamp    1.0
2    Submitted Application Timestamp    1.0
3    Submitted Application Timestamp    1.0
4    Submitted Application Timestamp    1.0
5    Submitted Application Timestamp    1.0
6    Submitted Application Timestamp    1.0
7    Submitted Application Timestamp    2.0
8    Submitted Application Timestamp    1.0
9    Submitted Application Timestamp    1.0
10   Submitted Application Timestamp    1.0
11   Submitted Application Timestamp    1.0
12   Submitted Application Timestamp    1.0
13   Submitted Application Timestamp    1.0
14   Submitted Application Timestamp    1.0
15   Submitted Application Timestamp    1.0
16   Submitted Application Timestamp    1.0
17   Submitted Application Timestamp    1.0
18   Submitted Application Timestamp    1.0
19   Submitted Application Timestamp    1.0
20   Submitted Application Timestamp    3.0
21   Submitted Application Timestamp    1.0
22   Submitted Application Timestamp    2.0
23   Submitted Application Timestamp    1.0
24   Submitted Application Timestamp    1.0
25   Submitted Application Timestamp    2.0
26   Submitted Application Timestamp    6.0
27   Submitted Application Timestamp    2.0
28   Submitted Application Timestamp    1.0
29   Submitted Application Timestamp    2.0
30   Submitted Application Timestamp    3.0
31   Submitted Application Timestamp    3.0
32   Submitted Application Timestamp    3.0
33   Submitted Application Timestamp    1.0
34   Submitted Application Timestamp    1.0
35   Submitted Application Timestamp    2.0
36   Submitted Application Timestamp    2.0
37   Submitted Application Timestamp    1.0
38   Submitted Application Timestamp    4.0
39   Submitted Application Timestamp    1.0
40   Submitted Application Timestamp    1.0
41   Submitted Application Timestamp    1.0
42   Submitted Application Timestamp    1.0
43   Submitted Application Timestamp    2.0
44   Submitted Application Timestamp    1.0
45   Submitted Application Timestamp    1.0
46   Submitted Application Timestamp    1.0
47   Submitted Application Timestamp    3.0
48   Submitted Application Timestamp    1.0
49   Submitted Application Timestamp    1.0
50   Submitted Application Timestamp    2.0
51   Submitted Application Timestamp    1.0
52   Submitted Application Timestamp    1.0
53   Submitted Application Timestamp    2.0
54   Submitted Application Timestamp    2.0
55   Submitted Application Timestamp    1.0
56   Submitted Application Timestamp    1.0
57   Submitted Application Timestamp    2.0
58   Submitted Application Timestamp    1.0
59   Submitted Application Timestamp    1.0
60   Submitted Application Timestamp    1.0
61   Submitted Application Timestamp    1.0
62   Submitted Application Timestamp    1.0
63   Submitted Application Timestamp    1.0
64   Submitted Application Timestamp    1.0
65   Submitted Application Timestamp    1.0
66   Submitted Application Timestamp    1.0
67   Submitted Application Timestamp    1.0
68   Submitted Application Timestamp    1.0
69   Submitted Application Timestamp    1.0
70   Submitted Application Timestamp    1.0
71   Submitted Application Timestamp    1.0
72   Submitted Application Timestamp    1.0
73   Submitted Application Timestamp    1.0
74   Submitted Application Timestamp    1.0
75   Submitted Application Timestamp    2.0
76   Submitted Application Timestamp    1.0
77   Submitted Application Timestamp    3.0
78   Submitted Application Timestamp    1.0
79   Submitted Application Timestamp    2.0
80   Submitted Application Timestamp    1.0
81   Submitted Application Timestamp    1.0
82   Submitted Application Timestamp    1.0
83   Submitted Application Timestamp    1.0
84   Submitted Application Timestamp    1.0
85   Submitted Application Timestamp    1.0
86   Submitted Application Timestamp    1.0
87   Submitted Application Timestamp    2.0
88   Submitted Application Timestamp    1.0
89   Submitted Application Timestamp    1.0
90   Submitted Application Timestamp    1.0
91   Submitted Application Timestamp    1.0
92   Submitted Application Timestamp    2.0
93   Submitted Application Timestamp    1.0
94   Submitted Application Timestamp    1.0
95   Submitted Application Timestamp    1.0
96   Submitted Application Timestamp    1.0
97   Submitted Application Timestamp    1.0
98   Submitted Application Timestamp    1.0
99   Submitted Application Timestamp    1.0
100  Submitted Application Timestamp    1.0
101  Submitted Application Timestamp    1.0
102  Submitted Application Timestamp    1.0
103  Submitted Application Timestamp    2.0
104  Submitted Application Timestamp    1.0
105  Submitted Application Timestamp    1.0
106  Submitted Application Timestamp    1.0
107  Submitted Application Timestamp    1.0
108  Submitted Application Timestamp    2.0
109  Submitted Application Timestamp    1.0
110  Submitted Application Timestamp    1.0
111  Submitted Application Timestamp    1.0
112  Submitted Application Timestamp    1.0
113  Submitted Application Timestamp    1.0
114  Submitted Application Timestamp    1.0
115  Submitted Application Timestamp    1.0
116  Submitted Application Timestamp    1.0
117  Submitted Application Timestamp    1.0
118  Submitted Application Timestamp    2.0
119  Submitted Application Timestamp    1.0
120  Submitted Application Timestamp    1.0
121  Submitted Application Timestamp    1.0
122  Submitted Application Timestamp    1.0
123  Submitted Application Timestamp    2.0
124  Submitted Application Timestamp    1.0
125  Submitted Application Timestamp    1.0
126  Submitted Application Timestamp    1.0
127  Submitted Application Timestamp    1.0
128  Submitted Application Timestamp    2.0
129  Submitted Application Timestamp    1.0
130  Submitted Application Timestamp    1.0
131  Submitted Application Timestamp    1.0
132  Submitted Application Timestamp    1.0
133  Submitted Application Timestamp    1.0
134  Submitted Application Timestamp    2.0
135  Submitted Application Timestamp    1.0
136  Submitted Application Timestamp    1.0
137  Submitted Application Timestamp    1.0
138  Submitted Application Timestamp    1.0
139  Submitted Application Timestamp    2.0
140  Submitted Application Timestamp    3.0
141  Submitted Application Timestamp    1.0
142  Submitted Application Timestamp    1.0
143  Submitted Application Timestamp    1.0
144  Submitted Application Timestamp    1.0
145  Submitted Application Timestamp    1.0
146  Submitted Application Timestamp    7.0
147  Submitted Application Timestamp    2.0
148  Submitted Application Timestamp    1.0
149  Submitted Application Timestamp    1.0
150  Submitted Application Timestamp    3.0
151  Submitted Application Timestamp    1.0
152  Submitted Application Timestamp    9.0
153  Submitted Application Timestamp    1.0
154  Submitted Application Timestamp    1.0
155  Submitted Application Timestamp    4.0
156  Submitted Application Timestamp    3.0
157  Submitted Application Timestamp    2.0
158  Submitted Application Timestamp    1.0
159  Submitted Application Timestamp    3.0
160  Submitted Application Timestamp    1.0
161  Submitted Application Timestamp    1.0
162  Submitted Application Timestamp    1.0
163  Submitted Application Timestamp    1.0
164  Submitted Application Timestamp    1.0
165  Submitted Application Timestamp    1.0

In [34]:
df.columns.tolist()

[('Unnamed: 1_level_0',
  'Unnamed: 1_level_1',
  'Unnamed: 1_level_2',
  'Unnamed: 1_level_3',
  'Source'),
 ('Submitted Application Timestamp', '2017', 'Q3', 'September', '2'),
 ('Submitted Application Timestamp', '2017', 'Q3', 'September', '3'),
 ('Submitted Application Timestamp', '2017', 'Q3', 'September', '4'),
 ('Submitted Application Timestamp', '2017', 'Q3', 'September', '5'),
 ('Submitted Application Timestamp', '2017', 'Q3', 'September', '6'),
 ('Submitted Application Timestamp', '2017', 'Q3', 'September', '7'),
 ('Submitted Application Timestamp', '2017', 'Q3', 'September', '8'),
 ('Submitted Application Timestamp', '2017', 'Q3', 'September', '10'),
 ('Submitted Application Timestamp', '2017', 'Q3', 'September', '11'),
 ('Submitted Application Timestamp', '2017', 'Q3', 'September', '12'),
 ('Submitted Application Timestamp', '2017', 'Q3', 'September', '13'),
 ('Submitted Application Timestamp', '2017', 'Q3', 'September', '14'),
 ('Submitted Application Timestamp', '2017', 'Q3', 'September', '15'),
 ('Submitted Application Timestamp', '2017', 'Q3', 'September', '16'),
 ('Submitted Application Timestamp', '2017', 'Q3', 'September', '17'),
 ('Submitted Application Timestamp', '2017', 'Q3', 'September', '18'),
 ('Submitted Application Timestamp', '2017', 'Q3', 'September', '19'),
 ('Submitted Application Timestamp', '2017', 'Q3', 'September', '21'),
 ('Submitted Application Timestamp', '2017', 'Q3', 'September', '22'),
 ('Submitted Application Timestamp', '2017', 'Q3', 'September', '23'),
 ('Submitted Application Timestamp', '2017', 'Q3', 'September', '24'),
 ('Submitted Application Timestamp', '2017', 'Q3', 'September', '25'),
 ('Submitted Application Timestamp', '2017', 'Q3', 'September', '26'),
 ('Submitted Application Timestamp', '2017', 'Q3', 'September', '27'),
 ('Submitted Application Timestamp', '2017', 'Q3', 'September', '28'),
 ('Submitted Application Timestamp', '2017', 'Q3', 'September', '29'),
 ('Submitted Application Timestamp', '2017', 'Q3', 'September', '30'),
 ('Submitted Application Timestamp', '2017', 'Q4', 'October', '1'),
 ('Submitted Application Timestamp', '2017', 'Q4', 'October', '2'),
 ('Submitted Application Timestamp', '2017', 'Q4', 'October', '3'),
 ('Submitted Application Timestamp', '2017', 'Q4', 'October', '4'),
 ('Submitted Application Timestamp', '2017', 'Q4', 'October', '5'),
 ('Submitted Application Timestamp', '2017', 'Q4', 'October', '7'),
 ('Submitted Application Timestamp', '2017', 'Q4', 'October', '8'),
 ('Submitted Application Timestamp', '2017', 'Q4', 'October', '9'),
 ('Submitted Application Timestamp', '2017', 'Q4', 'October', '10'),
 ('Submitted Application Timestamp', '2017', 'Q4', 'October', '11'),
 ('Submitted Application Timestamp', '2017', 'Q4', 'October', '12'),
 ('Submitted Application Timestamp', '2017', 'Q4', 'October', '13'),
 ('Submitted Application Timestamp', '2017', 'Q4', 'October', '14'),
 ('Submitted Application Timestamp', '2017', 'Q4', 'October', '15'),
 ('Submitted Application Timestamp', '2017', 'Q4', 'October', '16'),
 ('Submitted Application Timestamp', '2017', 'Q4', 'October', '17'),
 ('Submitted Application Timestamp', '2017', 'Q4', 'October', '18'),
 ('Submitted Application Timestamp', '2017', 'Q4', 'October', '19'),
 ('Submitted Application Timestamp', '2017', 'Q4', 'October', '20'),
 ('Submitted Application Timestamp', '2017', 'Q4', 'October', '21'),
 ('Submitted Application Timestamp', '2017', 'Q4', 'October', '22'),
 ('Submitted Application Timestamp', '2017', 'Q4', 'October', '23'),
 ('Submitted Application Timestamp', '2017', 'Q4', 'October', '24'),
 ('Submitted Application Timestamp', '2017', 'Q4', 'October', '25'),
 ('Submitted Application Timestamp', '2017', 'Q4', 'October', '26'),
 ('Submitted Application Timestamp', '2017', 'Q4', 'October', '27'),
 ('Submitted Application Timestamp', '2017', 'Q4', 'October', '28'),
 ('Submitted Application Timestamp', '2017', 'Q4', 'October', '29'),
 ('Submitted Application Timestamp', '2017', 'Q4', 'October', '30')]

In [71]:
pd.melt(df, value_vars = df.columns.tolist())

                            variable  value
0    Submitted Application Timestamp    1.0
1    Submitted Application Timestamp    1.0
2    Submitted Application Timestamp    1.0
3    Submitted Application Timestamp    1.0
4    Submitted Application Timestamp    1.0
5    Submitted Application Timestamp    1.0
6    Submitted Application Timestamp    1.0
7    Submitted Application Timestamp    2.0
8    Submitted Application Timestamp    1.0
9    Submitted Application Timestamp    1.0
10   Submitted Application Timestamp    1.0
11   Submitted Application Timestamp    1.0
12   Submitted Application Timestamp    1.0
13   Submitted Application Timestamp    1.0
14   Submitted Application Timestamp    1.0
15   Submitted Application Timestamp    1.0
16   Submitted Application Timestamp    1.0
17   Submitted Application Timestamp    1.0
18   Submitted Application Timestamp    1.0
19   Submitted Application Timestamp    1.0
20   Submitted Application Timestamp    3.0
21   Submitted Application Timestamp    1.0
22   Submitted Application Timestamp    2.0
23   Submitted Application Timestamp    1.0
24   Submitted Application Timestamp    1.0
25   Submitted Application Timestamp    2.0
26   Submitted Application Timestamp    6.0
27   Submitted Application Timestamp    2.0
28   Submitted Application Timestamp    1.0
29   Submitted Application Timestamp    2.0
30   Submitted Application Timestamp    3.0
31   Submitted Application Timestamp    3.0
32   Submitted Application Timestamp    3.0
33   Submitted Application Timestamp    1.0
34   Submitted Application Timestamp    1.0
35   Submitted Application Timestamp    2.0
36   Submitted Application Timestamp    2.0
37   Submitted Application Timestamp    1.0
38   Submitted Application Timestamp    4.0
39   Submitted Application Timestamp    1.0
40   Submitted Application Timestamp    1.0
41   Submitted Application Timestamp    1.0
42   Submitted Application Timestamp    1.0
43   Submitted Application Timestamp    2.0
44   Submitted Application Timestamp    1.0
45   Submitted Application Timestamp    1.0
46   Submitted Application Timestamp    1.0
47   Submitted Application Timestamp    3.0
48   Submitted Application Timestamp    1.0
49   Submitted Application Timestamp    1.0
50   Submitted Application Timestamp    2.0
51   Submitted Application Timestamp    1.0
52   Submitted Application Timestamp    1.0
53   Submitted Application Timestamp    2.0
54   Submitted Application Timestamp    2.0
55   Submitted Application Timestamp    1.0
56   Submitted Application Timestamp    1.0
57   Submitted Application Timestamp    2.0
58   Submitted Application Timestamp    1.0
59   Submitted Application Timestamp    1.0
60   Submitted Application Timestamp    1.0
61   Submitted Application Timestamp    1.0
62   Submitted Application Timestamp    1.0
63   Submitted Application Timestamp    1.0
64   Submitted Application Timestamp    1.0
65   Submitted Application Timestamp    1.0
66   Submitted Application Timestamp    1.0
67   Submitted Application Timestamp    1.0
68   Submitted Application Timestamp    1.0
69   Submitted Application Timestamp    1.0
70   Submitted Application Timestamp    1.0
71   Submitted Application Timestamp    1.0
72   Submitted Application Timestamp    1.0
73   Submitted Application Timestamp    1.0
74   Submitted Application Timestamp    1.0
75   Submitted Application Timestamp    2.0
76   Submitted Application Timestamp    1.0
77   Submitted Application Timestamp    3.0
78   Submitted Application Timestamp    1.0
79   Submitted Application Timestamp    2.0
80   Submitted Application Timestamp    1.0
81   Submitted Application Timestamp    1.0
82   Submitted Application Timestamp    1.0
83   Submitted Application Timestamp    1.0
84   Submitted Application Timestamp    1.0
85   Submitted Application Timestamp    1.0
86   Submitted Application Timestamp    1.0
87   Submitted Application Timestamp    2.0
88   Submitted Application Timestamp    1.0
89   Submitted Application Timestamp    1.0
90   Submitted Application Timestamp    1.0
91   Submitted Application Timestamp    1.0
92   Submitted Application Timestamp    2.0
93   Submitted Application Timestamp    1.0
94   Submitted Application Timestamp    1.0
95   Submitted Application Timestamp    1.0
96   Submitted Application Timestamp    1.0
97   Submitted Application Timestamp    1.0
98   Submitted Application Timestamp    1.0
99   Submitted Application Timestamp    1.0
100  Submitted Application Timestamp    1.0
101  Submitted Application Timestamp    1.0
102  Submitted Application Timestamp    1.0
103  Submitted Application Timestamp    2.0
104  Submitted Application Timestamp    1.0
105  Submitted Application Timestamp    1.0
106  Submitted Application Timestamp    1.0
107  Submitted Application Timestamp    1.0
108  Submitted Application Timestamp    2.0
109  Submitted Application Timestamp    1.0
110  Submitted Application Timestamp    1.0
111  Submitted Application Timestamp    1.0
112  Submitted Application Timestamp    1.0
113  Submitted Application Timestamp    1.0
114  Submitted Application Timestamp    1.0
115  Submitted Application Timestamp    1.0
116  Submitted Application Timestamp    1.0
117  Submitted Application Timestamp    1.0
118  Submitted Application Timestamp    2.0
119  Submitted Application Timestamp    1.0
120  Submitted Application Timestamp    1.0
121  Submitted Application Timestamp    1.0
122  Submitted Application Timestamp    1.0
123  Submitted Application Timestamp    2.0
124  Submitted Application Timestamp    1.0
125  Submitted Application Timestamp    1.0
126  Submitted Application Timestamp    1.0
127  Submitted Application Timestamp    1.0
128  Submitted Application Timestamp    2.0
129  Submitted Application Timestamp    1.0
130  Submitted Application Timestamp    1.0
131  Submitted Application Timestamp    1.0
132  Submitted Application Timestamp    1.0
133  Submitted Application Timestamp    1.0
134  Submitted Application Timestamp    2.0
135  Submitted Application Timestamp    1.0
136  Submitted Application Timestamp    1.0
137  Submitted Application Timestamp    1.0
138  Submitted Application Timestamp    1.0
139  Submitted Application Timestamp    2.0
140  Submitted Application Timestamp    3.0
141  Submitted Application Timestamp    1.0
142  Submitted Application Timestamp    1.0
143  Submitted Application Timestamp    1.0
144  Submitted Application Timestamp    1.0
145  Submitted Application Timestamp    1.0
146  Submitted Application Timestamp    7.0
147  Submitted Application Timestamp    2.0
148  Submitted Application Timestamp    1.0
149  Submitted Application Timestamp    1.0
150  Submitted Application Timestamp    3.0
151  Submitted Application Timestamp    1.0
152  Submitted Application Timestamp    9.0
153  Submitted Application Timestamp    1.0
154  Submitted Application Timestamp    1.0
155  Submitted Application Timestamp    4.0
156  Submitted Application Timestamp    3.0
157  Submitted Application Timestamp    2.0
158  Submitted Application Timestamp    1.0
159  Submitted Application Timestamp    3.0
160  Submitted Application Timestamp    1.0
161  Submitted Application Timestamp    1.0
162  Submitted Application Timestamp    1.0
163  Submitted Application Timestamp    1.0
164  Submitted Application Timestamp    1.0
165  Submitted Application Timestamp    1.0

In [70]:
pd.melt(df, col_level=1)

IndexError: Too many levels: Index has only 1 level, not 2

In [68]:
df1 = pd.melt(df, id_vars = ['Unnamed: 1'],var_name = 'Year', var_name='Submitted_Timestamp_App' )
df1.head()

SyntaxError: keyword argument repeated (<ipython-input-68-18fedc1bd2a4>, line 1)